	<div id="promotion" class="create">
		<div class="container">
			<div class="text-center">
				<h2>Nå ut till vegointresserade</h2>
				<h3>Skapa egna sidor på Vegosvar</h3>
			</div>

			<div id="items">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/veg-location.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Restauranger & butiker</h3>
											<p>Nå ut till fler matgäster genom att publicera din restaurang eller butik</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/fact.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Näringslära & fakta</h3>
											<p>Sprid fakta kring vegansk kost och hjälp andra hitta det dem söker</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/product.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Produkter & livsmedel</h3>
											<p>Publicera era schyssta vegoprodukter så att fler kan upptäcka dem</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/recipe.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Recept</h3>
											<p>Sprid matglädje och dela med dig av dina bästa recept</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">

							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/stars.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Recensera</h3>
											<p>Recensera sidor eller få feedback och recensioner på dina egna sidor</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="item">
									<div class="row">
										<div class="col-xs-4 col-sm-4 col-md-4">
											<img alt="" src="/assets/images/edit.svg">
										</div>
										<div class="col-xs-8 col-sm-8 col-md-8">
											<h3>Redigera sidor</h3>
											<p>Bidra till att förbättra redan skapade sidor på Vegosvar med nytt innehåll</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center action">
				<a href="/ny" class="btn btn-hero lg">Skapa ett konto</a>
				<div>Det är superlätt och jättegratis</div>
			</div>
		</div>
	</div>