<div class="alert alert-info hidden" id="alert-info">
	<span class="glyphicon glyphicon-info-sign"></span> 
	<strong>Just denna fråga är redan besvarad. Länkar finns längst ner på sidan.</strong> <a id="alertButton-action--close" href="#">Ok, jag förstår</a>
</div>

<div class="alert alert-warning hidden" id="warning-info">
	<span class="glyphicon glyphicon-remove"></span>
	<strong>Din rubrik måste ha 3 eller flera bokstäver.</strong>
</div>