					<div class="well">
					<table class="table">
						<thead>
							<tr>
								<td><span class="glyphicon glyphicon-flag"></span></td><td><strong>Riktlinjer för sidor</strong></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><small>1</small></td><td>Du måste äga rättigheterna till bilderna</td>
							</tr>
							<tr>
								<td><small>2</small></td><td>Varje påstående kräver källhänvisning</td>
							</tr>
							<tr>
								<td><small>3</small></td><td>Använd ett tydligt, objektivt och neutralt språk</td>
							</tr>
							<tr>
								<td><small>4</small></td><td><a href="#">Din signatur</a> som författare är den enda godkända marknadsföringen på sidan</td>
							</tr>
						</tbody>
					</table>
					</div>