					<div class="well">
						<table class="table">
							<thead>
								<tr>
									<td><strong>Riktlinjer i korthet</strong></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Du måste äga rättigheterna till materialet</td>
								</tr>
								<tr>
									<td>Kom ihåg att källhänvisa</td>
								</tr>
								<tr>
									<td>Använd ett tydligt och objektivt språk</td>
								</tr>
								<tr>
									<td>Kolla först så att sidan inte redan finns</td>
								</tr>
								<tr>
									<td class="text-right"><a href="/riktlinjer">Läs alla riktlinjer &raquo;</a></td>
								</tr>
							</tbody>
						</table>
					</div>