<% include ../includes/header %>

<div class="container">
    <section id="main">
        <div class="row">
            <div class="col-md-2">
                <% include template_parts/sidebar %>
            </div>
            <div class="col-md-10">
                <article>
                    <h2>Ta bort sida <a href="/<%= page.url %>"><%= page.title %></a></h2>

                    <div>
                        <button class="btn btn-success">Neka begäran</button>
                        <button class="btn btn-danger">Bekräfta</button>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<% include ../includes/footer %>