  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <a href="https://facebook.com/vegosvar" target="_blank" class="facebook"><img src="/assets/images/facebook.svg"></a>
        </div>
        <div class="col-sm-2 hidden-xs konto">
          <h3>Konto</h3>
          <% if (typeof user !== 'undefined') { %>
						<a href="/installningar">Inställningar</a>
						<a href="/mina-sidor">Mina sidor</a>	
						<a href="/logga-ut">Logga ut</a>
          <% } %>
          <% if (typeof user === 'undefined') { %>
						<a href="/logga-in">Logga in</a>
          <% } %>

        </div>
        <div class="col-sm-2 socialt">
          <h3 class="hidden-xs">Socialt</h3>
          <a href="http://facebook.com/vegosvar">Facebook</a>
          <a href="http://twitter.com/vegosvar">Twitter</a>
          <a href="http://instagram.com/vegosvar">Instagram</a>
          <a href="https://github.com/vegosvar">Github</a>
        </div>
        <div class="col-sm-2 vegosvar">
          <h3 class="hidden-xs">Vegosvar</h3>
          <a href="/vanliga-fragor">Vanliga frågor</a>
          <a href="/om">Om Vegosvar</a>
          <a href="/riktlinjer">Riktlinjer</a>
          <a href="/licens">Licens</a>
          <a href="/press">Press</a>
        </div>
      </div>
    </div>
  </div>
  
<script id="dsq-count-scr" src="//vegosvar.disqus.com/count.js" async></script>
</body>
  <% if (typeof loadDropzoneResources !== 'undefined' && loadDropzoneResources === true) { %>
    <script type="text/javascript" src="/includes/js/dropzone-script.js"></script>
  <% } %>
</html>