  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="assets/img/vegosvar_icon.svg">
        </div>
        <div class="col-sm-2">
          <h3>Konto</h3>
          <a href="/loggain">Logga in</a>
          <a href="/ny">Publicera</a>
          <a href="/konto"> Mitt konto</a>
        </div>
        <div class="col-sm-2">
          <h3>Socialt</h3>
          <a href="mailto:kontakt@vegosvar.se">Mail</a>
          <a href="http://facebook.com/vegosvar">Facebook</a>
          <a href="http://twitter.com/vegosvar">Twitter</a>
          <a href="https://github.com/vegosvar">Github</a>
        </div>
        <div class="col-sm-2">
          <h3>Vegosvar</h3>
          <a href="/varderingar">Vanliga frågor</a>
          <a href="/varderingar">Om Vegosvar</a>
          <a href="/annonsera">Annonsera</a>
          <a href="#">Licens CC</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>