  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="assets/images/vegosvar_icon.svg">
        </div>
        <div class="col-sm-2">
          <h3>Konto</h3>
					
          <% if (typeof user !== 'undefined') { %>
						<a href="/installningar">Inställningar</a>
						<a href="/pages">Mina sidor</a>	
						<a href="/logga-ut">Logga ut</a>
          <% } %>
          <% if (typeof user === 'undefined') { %>
						<a href="/logga-in">Logga in</a>
          <% } %>

        </div>
        <div class="col-sm-2">
          <h3>Socialt</h3>
          <a href="mailto:kontakt@vegosvar.se">Maila oss</a>
          <a href="http://facebook.com/vegosvar">Facebook</a>
          <a href="http://twitter.com/vegosvar">Twitter</a>
          <a href="https://github.com/vegosvar">Github</a>
        </div>
        <div class="col-sm-2">
          <h3>Vegosvar</h3>
          <a href="/faq">Vanliga frågor</a>
          <a href="/om">Om Vegosvar</a>
          <a href="/annonsera">Annonsera</a>
          <a href="#">Licens CC</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>