<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="sv"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="sv"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="sv"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="sv"> <!--<![endif]-->
<head>
  <title>Vegosvar - Enkla svar på vegofrågor</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kunskapskällan för vegetarianer och veganer. Ständigt uppdaterad med aktuella frågor och källkritiska svar.">
  <meta name="keywords" content="vegan,vegetarian,svar">
  <meta name="robots" content="all">

  <meta property="og:site_name" content="Vegosvar - Kunskapskällan för vegetarianer och veganer">
  <meta property="og:title" content="Vegosvar - Kunskapskällan för vegetarianer och veganer">
  <meta property="og:description" content="Kunskapskällan för vegetarianer och veganer. Ständigt uppdaterad med aktuella frågor och källkritiska svar.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://vegosvar.se/assets/images/og.png">
  <meta property="og:url" content="https://vegosvar.se">

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
  <link rel="dns-prefetch" href="//code.jquery.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="//cdn.socket.io">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script>/*
    var isIe = false;

    if (navigator.userAgent.indexOf("MSIE") > -1 || /rv:11.0/i.test(navigator.userAgent)) {
      isIe = true;
    }

    $(document).ready(function () {
      if (!Modernizr.svgasimg || isIe) {
        $('img[src*="svg"]').attr('src', function () {
          return $(this).attr('src').replace('.svg', '.png');
        })
      }
      jQuery('.hasPopover').popover({ html: true, trigger: "hover", container: "body" })
    })*/
  </script>

  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/app.js"></script>

  <!-- TODO Fix this so it doesn't appear in prod! -->
  <% if (settings.env === 'development') { %>
    <script src="//localhost:35729/livereload.js"></script>
  <% } %>
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Meny</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="row">
          <div class="col-xs-6 col-sm-4 center-xs">
            <a href="/"><img src="/assets/images/vegosvar.svg" class="logo"></a>
          </div>
					<% if (typeof showsearch === 'undefined') { %>
						<div class="col-xs-12 col-sm-8">
							<form class="search" role="search" _lpchecked="1">
								<input type="text" class="form-control" value="Sök fakta, restauranger, produkter..." onfocus="if (this.value=='Sök fakta, restauranger, produkter...') this.value='';" onblur="if (this.value=='') this.value='Sök fakta, restauranger, produkter...';">
							</form>
						</div>
					<% } %>
				</div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/ny">Skapa sida</a></li>
          <% if (typeof user !== 'undefined') { %>
            <li class="profile name dropdown">
                <a href="/konto" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= user.name.display_name %>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/installningar">Inställningar</a></li>
                <li><a href="/mina-sidor">Mina sidor</a></li>
                <li><a href="/logga-ut">Logga ut</a></li>
              </ul>
            </li>
            <li class="profile picture">
              <a href="/installningar">
                <img src="<%= user.photo %>">
              </a>
            </li>
          <% } %>
          <% if (typeof user === 'undefined') { %>
            <li><a href="/logga-in">Logga in</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>