	<div id="promotion">
		<div class="container">
		<h2 class="text-center">Nå ut till vegointresserade</h2>

			<div class="row">
				
				<div class="col-sm-4">
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0">
								<img src="/assets/images/recept.svg">
							</div>
							<div class="col-xs-8 col-sm-12 col-md-7">
								<h3>Fakta & Recept</h3>
								<p>Hjälp till att sprida kunskap kring vegansk kost, eller dela med dig av dina recept</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0">
								<img src="/assets/images/chef.svg">
							</div>
							<div class="col-xs-8 col-sm-12 col-md-7">
								<h3>Restauranger</h3>
								<p>Nå ut till fler matgäster genom att publicera din restaurang på Vegosvar</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="item">
						<div class="row">
							<div class="col-xs-4 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0">
								<img src="/assets/images/product.svg">
							</div>
							<div class="col-xs-8 col-sm-12 col-md-7">
								<h3>Produkter</h3>
								<p>Publicera era fantastiska produkter så att fler upptäcker dom</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center action">
				<a href="/ny" class="btn btn-hero lg">Skapa en ny sida</a>
				<div>Snabbt & gratis</div>
			</div>
		</div>
	</div>