        <div class="col-sm-4 sidebar">
          <ul class="list-group">
            <li class="list-group-item heading">
              <div class="row">
                <div class="col-xs-4">
                  <img src="uploads/avatar.png">
                </div>
                <div class="col-xs-8">
                  <h3 class="list-group-item-heading"><%= user.name.display_name %></h3>
                  Du har <strong>28</strong> aktiva sidor, snyggt!
                </div>
              </div>
            </li>
            <li class="list-group-item"><a href="/konto">Mitt konto</a></li>
            <li class="list-group-item active"><a href="/settings">Inställningar</a></li>
            <li class="list-group-item"><a href="/pages">Mina sidor</a></li>
            <li class="list-group-item"><a href="/logout">Logga ut</a></li>
          </ul>
        </div>