<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Ny butik' %></h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="5">
							<input type="hidden" name="id" value="<%= (typeof(post) !== 'undefined') ? post._id : '' %>">

                            <% include includes/template_parts/imageupload %>

                            <% include includes/template_parts/title %>

                            <% include includes/editor %>

                            <% include includes/template_parts/location %>

                            <% include includes/template_parts/openhours %>

                            <% include includes/template_parts/other %>

                            <% include includes/template_parts/license %>

                            <hr>

                            <% include includes/template_parts/submit %>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>

<% include ../includes/footer %>