<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1>Ny faktasida</h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="1">
							
							<div class="input-group" id="upload-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12">
									<div class="input-group">
										<textarea type="text" name="content" class="form-control editable-content" id="content-input"></textarea>
									</div>
								</div>
							</div>

							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden">
									Jag vill vara anonym
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>
							
							<h3>Licens</h3>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-5 col-md-5 col-lg-4">
										<select class="form-control" name="licence">
											<option value="cc0">CC0 / Public Domain</option>
											<option value="cc">CC (Creative Commons)</option>
											<option value="copyright">Copyright</option>
										</select>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
									<p><button id="btn-submit" class="btn btn-primary lg">Skapa sida</button><br>
									<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>
	<script type="text/javascript">
		$("div#uploader").dropzone({ url: "/submit/file",
			paramName: "image",
			method: "post",
			maxFiles: 1,
			acceptedFiles: "image/.jpg,.JPG",
			success: function(object, response) {
				setTimeout(function () { 
					console.log('id: ' + response)
					$('div#uploader').addClass('finished')
					$('.dz-preview').hide()
					$.getJSON('/ajax/imageInfo/?id='+ response, function (data) {
						console.log(data)
						$('div#uploader').css('background-image', 'url("/uploads/' + data[0].filename + '.jpg")')
						$('#upload-group').append('<input type="hidden" value="' + data[0]._id + '" name="cover_image-id" />')
						$('#upload-group').append('<input type="hidden" value="' + data[0].filename + '" name="cover_image-filename" />')
					})
				}, 500)
		   	}
	   	})
	</script>
<% include includes/error_handler.ejs %>
<% include ../includes/footer %>