<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<form action="/submit" method="post">
							<input type="hidden" name="type" value="1">
							<h1>Ny faktasida</h1><br>
							<div class="row">
								<div class="col-sm-10">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Rubrik</span>
										<input type="text" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12">
									<div class="input-group">
										<textarea type="text" name="content" class="form-control editable-content" id="content-input"></textarea>
									</div>
								</div>
							</div>

							<h3>Källor</h3>

							<h3>Bilder</h3>
							<div class="input-group">
								<div id="uploader" class="dropzone"></div>
								<small><p>Rekommenderad storlek <strong>1200 x 630 px</strong><br>
								Licens: CC0 <a href="#">Ändra</a></p></small>
							</div>

							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden">
									Jag vill inte synas som författare till sidan
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
									<p><button class="btn btn-primary lg">Skapa sida</button><br>
									<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>
	<script type="text/javascript">
		$("div#uploader").dropzone({ url: "#" });
	</script>
<% include includes/error_handler.ejs %>
<% include ../includes/footer %>