<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1>Ny restaurang eller butik</h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="3">

							<div class="input-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
							</div>


							<h2>
								<span class="glyphicon glyphicon-map-marker"></span> 
								Hitta hit
							</h2>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Stad</span>
										<input type="text" class="form-control" name="city" aria-describedby="basic-addon1" placeholder="">
									</div>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Gata</span>
										<input type="text" class="form-control" name="street" aria-describedby="basic-addon1" placeholder="Exempelgatan 12">
									</div>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Google Maps <a href="/vanliga-fragor/#googlemap" target="_blank"><span class="glyphicon glyphicon-question-sign"></a></span>
										<input type="text" class="form-control" name="googlemaps" aria-describedby="basic-addon1" placeholder="http://">
									</div>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Hemsida</span>
										<input type="text" class="form-control" name="website" aria-describedby="basic-addon1" placeholder="http://">
									</div>
									<div class="input-desc">Ingen hemsida? Länka till er Facebooksida</div>
								</div>
							</div>

							<h2>
								<span class="glyphicon glyphicon-phone"></span> 
								Kontakt
							</h2>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Telefon</span>
										<input type="text" class="form-control" name="phone" aria-describedby="basic-addon1">
									</div>
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Epost</span>
										<input type="text" class="form-control" name="email" aria-describedby="basic-addon1">
									</div>
									<div class="input-desc">Din epost krypteras utåt på Vegosvar så att du slipper spambotar</div>
								</div>
							</div>
							

							<h2>
								<span class="glyphicon glyphicon-time"></span> 
								Öppettider
							</h2>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<input type="text" class="form-control" name="openhours" aria-describedby="basic-addon1" placeholder="Vardagar 00 - 00, Helger 00-00 ">
									</div>
								</div>
							</div>


							<h2>
								<span class="glyphicon glyphicon-cutlery"></span> 
								Utbud
							</h2>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="lacto_ovo"> 
									Lakto-ovo vegetariskt
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="vegan"> 
									Veganskt
								</label>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon" id="basic-addon2">Typ av mat</span>
										<input type="text" class="form-control" name="food" aria-describedby="basic-addon1" placeholder="Grill, Husmanskost, Pizza, Indiskt...">
									</div>
								</div>
							</div>


							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden"> 
									Jag vill vara anonym 
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-5 col-md-5 col-lg-4">
										<select class="form-control" name="licence">
											<option value="cc0">CC0 / Public Domain</option>
											<option value="cc">CC (Creative Commons)</option>
											<option value="copyright">Copyright</option>
										</select>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
									<p><button class="btn btn-primary lg">Skapa sida</button><br>
									<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>

<% include ../includes/footer %>