<% include ../includes/header %>

    <div class="container">
        <section id="main">
            <% include includes/errors.ejs %>
            <div class="row">
                <div class="col-md-8">
                    <article>
                        <h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Ny produkt' %></h1><br>

                        <form action="/submit" method="post">

                            <input type="hidden" name="type" value="4">
                            <input type="hidden" name="id" value="<%= (typeof(post) !== 'undefined') ? post._id : '' %>">

                            <% include includes/template_parts/imageupload %>

                            <% include includes/template_parts/title %>

                            <% include includes/editor %>

                            <h2>Innehåll</h2>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="animal" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'animal') ? 'checked=checked' : '' %>>
                                    Animalisk
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="lacto_ovo" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'lacto_ovo') ? 'checked=checked' : '' %>>
                                    Lakto-ovo vegetarisk
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="vegan" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_type == 'vegan') ? 'checked=checked' : '' ) : 'checked=checked' %>>
                                    Vegansk
                                </label>
                            </div>

                            <h2>Typ av produkt</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <h3>Livsmedel</h3>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="chips" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'chips') ? 'checked=checked' : '' %>>
                                            Chips
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="glass" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'glass') ? 'checked=checked' : '' %>>
                                            Glass
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="godis" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'godis') ? 'checked=checked' : '' %>>
                                            Godis
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="margarin" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'margarin') ? 'checked=checked' : '' %>>
                                            Margarin
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="ost" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'ost') ? 'checked=checked' : '' %>>
                                            Ost
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="vegokött" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'vegokött') ? 'checked=checked' : '' %>>
                                            Vegokött
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="växtdryck" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'växtdryck') ? 'checked=checked' : '' %>>
                                            Växtdryck
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="växtgrädde" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'växtgrädde') ? 'checked=checked' : '' %>>
                                            Växtgrädde
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-4">
                                    <h3>Kropp</h3>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="hudvård" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'hudvård') ? 'checked=checked' : '' %>>
                                            Hudvård
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="makeup" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'makeup') ? 'checked=checked' : '' %>>
                                            Makeup
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="schampo" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'schampo') ? 'checked=checked' : '' %>>
                                            Schampo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="tandkräm" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'tandkräm') ? 'checked=checked' : '' %>>
                                            Tandkräm
                                        </label>
                                    </div>

                                    <h3>Alkohol</h3>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="vin" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'vin') ? 'checked=checked' : '' %>>
                                            Vin
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="alkohol" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'e-nummer') ? 'checked=checked' : '' %>>
                                            Öl
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-4">
                                    <h3>Övrigt</h3>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="e-nummer" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'e-nummer') ? 'checked=checked' : '' %>>
                                            E-nummer
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="kosttillskott" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'kosttillskott') ? 'checked=checked' : '' %>>
                                            Kosttillskott
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="product_type" value="other" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_type == 'other') ? 'checked=checked' : '' ) : 'checked=checked' %>>
                                            Annat
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <h2>Tillverkare</h2>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Företag</span>
                                        <input type="text" class="form-control" name="manufacturer">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Hemsida</span>
                                        <input type="text" class="form-control" name="manufacturer_website">
                                    </div>
                                </div>
                            </div>

                            <% include includes/template_parts/other %>

                            <% include includes/template_parts/license %>

                            <hr>

                            <% include includes/template_parts/submit %>
                        </form>
                    </article>
                </div>
                <div class="col-md-4">
                    <aside>
                        <% include includes/sidebar %>
                    </aside>
                </div>
            </div>

        </section>
    </div>

<% include includes/filepush %>
<% include ../includes/footer %>