<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Ny produkt' %></h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="4">

							<div class="input-group" id="upload-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1" value="<%= (typeof(post) !== 'undefined') ? post.title : '' %>">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12 hidden">
									<div class="input-group">
										<textarea name="content" class="form-control editable-content" id="content-input"><%= (typeof(post) !== 'undefined') ? post.post.content : '' %></textarea>
									</div>
								</div>
							</div>

							<h2>Typ av produkt</h2>
							<div class="radio" style="margin: 0;">
								<label>
									<input type="radio" name="product_type" value="other" checked>
									Annat
								</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<h3>Livsmedel</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="vegomeat" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'vegomeat') ? 'checked=checked' : '' %>>
											Vegokött
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="plantdrink" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'plantdrink') ? 'checked=checked' : '' %>>
											Växtdryck
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="plantcream" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'plantcream') ? 'checked=checked' : '' %>>
											Växtgrädde
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="margarine" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'margarine') ? 'checked=checked' : '' %>>
											Margarin
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="cheese" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'cheese') ? 'checked=checked' : '' %>>
											Ost
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="icecream" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'icecream') ? 'checked=checked' : '' %>>
											Glass
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="chips" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'chips') ? 'checked=checked' : '' %>>
											Chips
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="snack" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'snack') ? 'checked=checked' : '' %>>
											Snacks
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="drink" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'drink') ? 'checked=checked' : '' %>>
											Dryck
										</label>
									</div>
								</div>

								<div class="col-xs-6 col-sm-4">
									<h3>Kropp</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="shampoo" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'shampoo') ? 'checked=checked' : '' %>>
											Schampo
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="toothpaste" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'toothpaste') ? 'checked=checked' : '' %>>
											Tandkräm
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="makeup" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'makeup') ? 'checked=checked' : '' %>>
											Makeup
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="skincare" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'skincare') ? 'checked=checked' : '' %>>
											Hudvård
										</label>
									</div>
								</div>

								<div class="col-xs-6 col-sm-4">
									<h3>Alkohol</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="beer" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'beer') ? 'checked=checked' : '' %>>
											Öl
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="cider" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'cider') ? 'checked=checked' : '' %>>
											Cider
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="wine" <%= (typeof(post) !== 'undefined' && post.post.product_type == 'wine') ? 'checked=checked' : '' %>>
											Vin
										</label>
									</div>
								</div>
							</div>

							<h2>Innehåll</h2>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="animal" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'animal') ? 'checked=checked' : '' %>>
									Animalisk
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="lacto_ovo" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'lacto_ovo') ? 'checked=checked' : '' %>>
									Lakto-ovo vegetarisk
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="vegan" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_type == 'vegan') ? 'checked=checked' : '' ) : 'checked=checked' %>>
									Vegansk
								</label>
							</div>


							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden">
									Jag vill vara anonym
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>

                            <h3>Licens</h3>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select class="form-control" name="license" id="license_select">
											<option value="CC0" <%= (typeof(post) !== 'undefined' && post.post.license == 'CC0') ? 'selected=selected' : '' %>>CC0</option>
											<option value="CC BY" <%= (typeof(post) !== 'undefined' && post.post.license == 'CC BY') ? 'selected=selected' : '' %>>CC BY (Creative Commons)</option>
											<option value="Copyright" <%= (typeof(post) !== 'undefined' && post.post.license == 'Copyright') ? 'selected=selected' : '' %>>Copyright</option>
										</select>
									</div>
									<div id="license_info">
										<div class="input-group cc-version">
											<span class="input-group-addon">CC-version</span>
											<input type="text" class="form-control" name="license_cc_version" value="<%= (typeof(post) !== 'undefined') ? post.post.license_cc_version : '' %>">
										</div>
										<div class="input-group license-owner">
											<span class="input-group-addon">Licensägare</span>
											<input type="text" class="form-control" name="license_holder" value="<%= (typeof(post) !== 'undefined') ? post.post.license_holder : '' %>">
										</div>
										<div class="input-group license-owner-website">
											<span class="input-group-addon">Ägarens hemsida</span>
											<input type="text" class="form-control" name="license_holder_website" placeholder="http://" value="<%= (typeof(post) !== 'undefined') ? post.post.license_holder_website : '' %>">
										</div>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
								<p><button class="btn btn-primary lg">Skapa sida</button><br>
								<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>

<% include ../includes/footer %>