<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1>Ny produkt</h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="4">

							<div class="input-group" id="upload-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12 hidden">
									<div class="input-group">
										<textarea name="content" class="form-control editable-content" id="content-input"></textarea>
									</div>
								</div>
							</div>

							<h2>Typ av produkt</h2>
							<div class="radio" style="margin: 0;">
								<label>
									<input type="radio" name="product_type" value="other" checked>
									Annat
								</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<h3>Livsmedel</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="vegomeat">
											Vegokött
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="plantdrink">
											Växtdryck
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="plantcream">
											Växtgrädde
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="margarine">
											Margarin
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="cheese">
											Ost
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="icecream">
											Glass
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="chips">
											Chips
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="snack">
											Snacks
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="drink">
											Dryck
										</label>
									</div>
								</div>

								<div class="col-xs-6 col-sm-4">
									<h3>Kropp</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="shampoo">
											Schampo
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="toothpaste">
											Tandkräm
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="makeup">
											Makeup
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="skincare">
											Hudvård
										</label>
									</div>
								</div>

								<div class="col-xs-6 col-sm-4">
									<h3>Alkohol</h3>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="beer">
											Öl
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="cider">
											Cider
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="product_type" value="wine">
											Vin
										</label>
									</div>
								</div>
							</div>

							<h2>Innehåll</h2>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="animal">
									Animalisk
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="lacto_ovo">
									Lakto-ovo vegetarisk
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_type" value="vegan" checked>
									Vegansk
								</label>
							</div>


							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden"> 
									Jag vill vara anonym 
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>

							<h3>Licens</h3>
							<div class="row">
								<div class="col-sm-5 col-md-5">
									<div class="form-group">
										<select class="form-control" name="license">
											<option value="CC0">CC0</option>
											<option value="CC BY 1.0">CC BY 1.0 (Creative Commons)</option>
											<option value="CC BY 2.0">CC BY 2.0 (Creative Commons)</option>
											<option value="CC BY 3.0">CC BY 3.0 (Creative Commons)</option>
											<option value="CC BY 4.0">CC BY 4.0 (Creative Commons)</option>
											<option value="Copyright">Copyright</option>
										</select>
									</div>
									<div class="input-group" id="license_holder">
										<span class="input-group-addon">Licensägare</span>
										<input type="text" class="form-control" name="license_holder">
									</div>
									<div class="input-group" id="license_holder_website">
										<span class="input-group-addon">Hemsida</span>
										<input type="text" class="form-control" name="license_holder_website" placeholder="http://">
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
								<p><button class="btn btn-primary lg">Skapa sida</button><br>
								<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>

<% include ../includes/footer %>