<% include ../includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">

					<section class="text-center">
						<p><img src="/assets/images/butterfly.svg" class="circle" style="width: 200px;"></p>
						<h1>Publiserad</h1>
						<p class="preamble">Awesome!</p><br>
						<a href="#" class="btn btn-primary lg">Besök sida</a> 
						<a href="#" class="btn btn-secondary lg">Skapa en till</a>
					</section>

				</div>
			</div>

		</article>
	</div>

<% include ../includes/footer %>