<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<form action="/submit" method="post">
							<input type="hidden" name="type" value="2">
							<h1>Nytt recept</h1><br>

							<div class="input-group" id="upload-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12 hidden">
									<div class="input-group">
										<textarea name="content" class="form-control editable-content" id="content-input"></textarea>
									</div>
								</div>
							</div>

							<h2>Typ av rätt</h2>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="baked"> 
									Bakat
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="first-course"> 
									Förrätt
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="main-course"> 
									Huvudrätt
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="dessert"> 
									Efterätt
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="snack"> 
									Snacks
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="drink"> 
									Dryck
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="type" value="other" checked> 
									Annat
								</label>
							</div>

							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden"> 
									Jag vill vara anonym 
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>

							<h3>Licens</h3>
							<div class="row">
								<div class="col-sm-5 col-md-5">
									<div class="form-group">
										<select class="form-control" name="license">
											<option value="cc0">CC0 / Public Domain</option>
											<option value="cc">CC (Creative Commons)</option>
											<option value="copyright">Copyright</option>
										</select>
									</div>
									<div class="input-group" id="license_holder">
										<span class="input-group-addon">Licensägare</span>
										<input type="text" class="form-control" name="license_holder">
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
									<p><button class="btn btn-primary lg">Skapa sida</button><br>
									<small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>	
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>

<% include ../includes/footer %>