<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1>Ny restaurang</h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="3">

							<div class="input-group" id="upload-group">
								<div id="uploader" class="dropzone"></div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="input-group">
										<input type="text" placeholder="Rubrik" class="form-control" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>

							<div class="row">
								<% include includes/editor %>
								<div class="col-sm-12 hidden">
									<div class="input-group">
										<textarea name="content" class="form-control editable-content" id="content-input"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<h2>
										<span class="glyphicon glyphicon-map-marker"></span> 
										Hitta hit
									</h2>
									<div class="row">
										<div class="col-sm-12">
											<div class="input-group">
												<span class="input-group-addon">Stad</span>
												<input type="text" class="form-control" name="city" aria-describedby="basic-addon1" placeholder="">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Gata</span>
												<input type="text" class="form-control" name="street" aria-describedby="basic-addon1">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Hemsida</span>
												<input type="text" class="form-control" name="website" aria-describedby="basic-addon1" placeholder="http://">
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<h2>
										<span class="glyphicon glyphicon-phone"></span> 
										Kontakt
									</h2>
									<div class="row">
										<div class="col-sm-12">
											<div class="input-group">
												<span class="input-group-addon">Telefon</span>
												<input type="text" class="form-control" name="phone">
											</div>
											<div class="input-group">
												<span class="input-group-addon">Epost</span>
												<input type="text" class="form-control" name="email">
											</div>
											<div class="input-desc">Din epost krypteras så att du slipper spam</div>
										</div>
									</div>
								</div>
							</div>
							

							<h2>
								<span class="glyphicon glyphicon-time"></span> 
								Öppettider
							</h2>
							<div class="row">
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">Måndag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="monday">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Tisdag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="tuesday">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Onsdag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="wednesday">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Tordag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="thursday">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<span class="input-group-addon">Fredag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="friday">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Lördag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="saturday">
									</div>
									<div class="input-group">
										<span class="input-group-addon">Söndag</span>
										<input type="text" placeholder="00:00 - 00:00" class="form-control" name="sunday">
									</div>
								</div>
							</div>


							<h2>
								<span class="glyphicon glyphicon-cutlery"></span> 
								Utbud
							</h2>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Veganskt går att ordna">
									Veganskt går att ordna
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Veganskt finns på menyn" checked>
									Veganskt finns på menyn
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Endast veganskt på menyn">
									Endast veganskt på menyn
								</label>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon">Typ av mat</span>
										<input type="text" class="form-control" name="food" aria-describedby="basic-addon1" placeholder="Grill, Husmanskost, Pizza, Indiskt...">
									</div>
								</div>
							</div>


							<h3>Övrigt</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="hidden"> 
									Jag vill vara anonym 
									<a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
								</label>
							</div>

							<h3>Licens</h3>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<select class="form-control" name="license" id="license_select">
											<option value="CC0">CC0</option>
											<option value="CC BY">CC BY (Creative Commons)</option>
											<option value="Copyright">Copyright</option>
										</select>
									</div>
									<div id="license_info">
										<div class="input-group cc-version">
											<span class="input-group-addon">CC-version</span>
											<input type="text" class="form-control" name="license_cc_version">
										</div>
										<div class="input-group license-owner">
											<span class="input-group-addon">Licensägare</span>
											<input type="text" class="form-control" name="license_holder">
										</div>
										<div class="input-group license-owner-website">
											<span class="input-group-addon">Ägarens hemsida</span>
											<input type="text" class="form-control" name="license_holder_website" placeholder="http://">
										</div>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-sm-12">
									<p><button class="btn btn-primary lg">Skapa sida</button><br>
									<small>Genom att skapa en sida går du med på 
									<a href="/villkor" target="_blank">våra villkor</a></small></p>
								</div>
							</div>
						</form>
					</article>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>
	
<% include ../includes/footer %>