<% include ../includes/header %>

	<div class="container">
		<section id="main">
			<% include includes/errors.ejs %>
			<div class="row">
				<div class="col-md-8">
					<article>
						<h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Ny restaurang' %></h1><br>

						<form action="/submit" method="post">

							<input type="hidden" name="type" value="3">
							<input type="hidden" name="id" value="<%= (typeof(post) !== 'undefined') ? post._id : '' %>">

                            <% include includes/template_parts/imageupload %>

                            <% include includes/template_parts/title %>

                            <% include includes/editor %>

							<div class="row">
                                <% include includes/template_parts/location %>

								<% include includes/template_parts/contact %>
							</div>

                            <% include includes/template_parts/openhours %>

							<h2>
								<span class="glyphicon glyphicon-cutlery"></span>
								Utbud
							</h2>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Veganskt går att ordna" <%= (typeof(post) !== 'undefined' && post.post.veg_offer == 'Veganskt går att ordna') ? 'checked=checked' : '' %>>
									Veganskt går att ordna
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Veganskt finns på menyn" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_offer == 'Veganskt finns på menyn') ? 'checked=checked' : '' ) : 'checked=checked' %>>
									Veganskt finns på menyn
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="veg_offer" value="Endast veganskt på menyn" <%= (typeof(post) !== 'undefined' && post.post.veg_offer == 'Endast veganskt på menyn') ? 'checked=checked' : '' %>>
									Endast veganskt på menyn
								</label>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon">Typ av mat</span>
										<input type="text" class="form-control" name="food" aria-describedby="basic-addon1" placeholder="Grill, Husmanskost, Pizza, Indiskt..." value="<%= (typeof(post) !== 'undefined') ? post.post.food : '' %>">
									</div>
								</div>
							</div>

                            <% include includes/template_parts/other %>
                            <% include includes/template_parts/license %>
    						<hr>
                            <% include includes/template_parts/submit %>
						</form>
					</article>
						<h3>Ta bort</h3>
				        <p>För att ta bort en sida måste du ange en anledning för borttagning och därefter tas sidan bort om anledningen accepteras. I din händelselogg under <a href="/mina-sidor">Mina sidor</a> ser du om ditt ärende är behandlat.</p>
				        <a id="btn-delete" class="btn btn-secondary">Ta bort sida</a>
				        <div id="post-delete-container" style="display:none;float:right;" class="hidden"><input type="text" style="width:400px;" /></div></p>
				</div>
				<div class="col-md-4">
					<aside>
						<% include includes/sidebar %>
					</aside>
				</div>
			</div>

		</section>
	</div>
	<script>
	$('#btn-delete').on('click', function (e) {
    	e.preventDefault()
    	if($('#post-delete-container').hasClass('hidden')) {
    		$('#btn-delete').html('X')
    		$('#post-delete-container').removeClass('hidden')
    		$('#post-delete-container').slideDown('fast')
    	} else {
    		$('#btn-delete').html('Ta bort sida')
    		$('#post-delete-container').slideUp('fast')
    		setTimeout(function () { $('#post-delete-container').addClass('hidden') }, 210)
    	}
    })</script>

<% include ../includes/footer %>