<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-7">
					<h1>Vi är Vegosvar</h1>
					<p class="preamble">Vad, hur och vart bör vi äta? Vi tycker att det ska vara enkelt att göra medvetna val i vardagen. Därför finns vi här för att svara på dina frågor. </p>

					<h2>Våra värderingar</h2>
					<p>Det viktigt med en folkbildning som främjar bättre livsstilar. Att välja bra mat är bara en liten del i det stora hela, men det gör mycket för oss, djuren och miljön.</p>
					
					<p>Hoppas du hittar det du söker, annars får du höra av dig!</p>
					<p>Per Lööv, David Marby, Jeremy Gallant & Andreas Ekström</p>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>