<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8">

					<article>
						<h1>Om Vegosvar</h1>
						<p class="preamble">Det ska vara enkelt att göra medvetna val i vardagen. På den grunden skapade vi den plattform som Vegosvar är idag. Kunskapsdatabasen växer varje dag tack vare våra medlemmar, så att du enkelt ska få svar på dina frågor och hitta rätt.</p>

						<h2>Värderingar</h2>
						<p>Det är viktigt med en folkbildning som främjar bättre livsstilar. Att välja bra mat är bara en liten del i det stora hela, men det gör mycket för oss, djuren och miljön. Vegosvars mål är ett hållbart Sverige utan animaliska livsmedel.</p>

						<h2>Teknik</h2>
						<p>Vegosvar ligger på <a href="https://github.com/Vegosvar/Vegosvar" target="_blank">Github</a> licencerat under <a href="/licens">CC0</a> och är öppen för alla att använda. Om du vill lämna feedback eller vara en del av Vegosvar så kan du höra av dig till <a href="http://facebook.com/vegosvar">vår Facebook</a>.</p>
						
						<h2>Slutord</h2>
						<p>Vi vill passa på att rikta ett stort tack till de fantastiska hemsidor och tjänster som varje dag underlättar för vegointresserade, bland annat <a href="http://veganistan.se" target="_blank" rel="nofollow">Veganistan.se</a> som har kartlagt större delen av Sveriges alla veganska restauranger och butiker. Sedan finns även <a href="http://vegansök.se" target="_blank" rel="nofollow">Vegansök.se</a>, en söktjänst för veganska livsmedel. Djurens Rätts app <a href="https://itunes.apple.com/se/app/djurvanligt/id426096234?mt=8" target="_blank" rel="nofollow">Djurvänligt</a> är också en klockren app för att hitta schyssta livsmedel. Det är dessa typer av tjänster som gett oss inspirationen till att utveckla Vegosvar.</p>

						<h2>Utvecklare</h2>
						<p><a href="http://perloov.com" target="_blank">Per Lööv</a><br> 
						<a href="http://jeremyg.se" target="_blank">Jeremy Gallant</a><br> 
						<a href="http://aekstrom.se" target="_blank">Andreas Ekström</a><br> 
						<a href="https://tobias.jarvelov.se" target="_blank">Tobias Järvelöv</a></p>
					</article>

				</div>
				<div class="col-sm-4">

					<aside class="text-center">
						<h2 style="margin-top: 0;">Kampanjer</h2>
						<p>Vi gillar att sprida matnyttig folkbildning kring matkultur. Av den anledningen har vi skapat en del kampanjsidor.</p>
						<hr>
						<a href="https://mjolken.se" target="_blank">
							<img src="/assets/images/mjolken.svg" style="width: 170px;">
						</a>
						<hr>
						<a href="https://kottet.se" target="_blank">
							<img src="/assets/images/kottet.svg" style="width: 170px;">
						</a>
						<hr>
						<a href="http://vegotips.se" target="_blank">
							<img src="/assets/images/vegotips.svg" style="width: 170px;">
						</a>
					</aside>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>