<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8">

					<article>
						<h1>Om Vegosvar</h1>
						<p class="preamble">Det ska vara enkelt att göra medvetna val i vardagen. Vegosvar är skapat av vegointresserade - för vegointresserade, så att du enkelt ska få svar på alla dina frågor! </p>

						<h2>Värderingar</h2>
						<p>Det är viktigt med en folkbildning som främjar bättre livsstilar. Att välja bra mat är bara en liten del i det stora hela, men det gör mycket för oss, djuren och miljön. Vegosvars mål är ett hållbart Sverige utan animaliska livsmedel.</p>

						<h2>Teknik</h2>
						<p>Vegosvar ligger på <a href="https://github.com/Vegosvar/Vegosvar" target="_blank">Github</a> licencerat under CC0 och är öppen för alla att använda. Om du vill lämna feedback så kan du höra av dig till <a href="http://facebook.com/vegosvar">vår Facebook</a>.</p>
						
						<h2>Utvecklare</h2>
						<p><a href="http://perloov.com" target="_blank">Per Lööv</a><br> 
						<a href="http://jeremyg.se" target="_blank">Jeremy Gallant</a><br> 
						<a href="http://aekstrom.se" target="_blank">Andreas Ekström</a><br> 
						<a href="https://tobias.jarvelov.se" target="_blank">Tobias Järvelöv</a></p>
					</article>

				</div>
				<div class="col-sm-4">

					<aside class="text-center">
						<h2 style="margin-top: 0;">Kampanjer</h2>
						<p>Vi gillar att sprida matnyttig folkbildning kring matkultur. Av den anledningen har vi skapat en del kampanjsidor.</p>
						<hr>
						<a href="https://mjolken.se" target="_blank">
							<img src="/assets/images/mjolken.svg" style="width: 170px;">
						</a>
						<hr>
						<a href="https://kottet.se" target="_blank">
							<img src="/assets/images/kottet.svg" style="width: 170px;">
						</a>
						<hr>
						<a href="http://vegotips.se" target="_blank">
							<img src="/assets/images/vegotips.svg" style="width: 170px;">
						</a>
					</aside>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>