<% include includes/header %>

	<div class="container">
		<article>
			<div class="row">
				<div class="col-sm-8">

					<section>
						<h1>Annonsera på Vegosvar</h1>
						<h2>Nå en medveten målgrupp</h2>
						<p>Vi vill göra det enkelt att göra medvetna val, om ni producerar bra produkter ligger det i vårt intresse att förmedla dessa till våra besökare på bästa möjliga sätt. För oss är bra produkter viktigt för en hållbar framtid. Om ni delar våra värderingar är ni varmt välkommen att höra av er!</p>
						<p>Maila <a href="mailto:kontakt@vegosvar.se">kontakt@vegosvar.se</a> för intresse, så berättar vi gärna mer.</p>
					</section>

				</div>
			</div>
		</article>
	</div>

<% include includes/footer %>