<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<h1>Annonsera på Vegosvar</h1>
					<h2>Nå en medveten målgrupp</h2>
					<p>Vegosvar vill göra det enkelt att göra medvetna val, om ni producerar bra produkter ligger det i vårt intresse att förmedla dessa till våra besökare på bästa möjliga sätt. För oss är bra produkter viktigt för en hållbar framtid. Om ni delar våra värderingar är ni varmt välkommen att höra av er.</p>
					<p>Maila <a href="mailto:kontakt@vegosvar.se">kontakt@vegosvar.se</a> för intresse, så berättar vi gärna mer.</p>
					<hr>
					<h3><span class="glyphicon glyphicon-tree-deciduous"></span> Våra värderingar</h3>
					<small><p>Vi vill göra det enklare för konsumenten att göra medvetna val. Vår idé grundar sig i att informera och inspirera kring samtida matkultur och dess påverkan på allt levande. Vi vill visa en alternativ syn på handeln, konsumtionen och dess effekter.</p> 
					<p>Med god design, god etik och vetenskap vill vi skapa en hållbar framtid för alla.</p></small>

				</div>
				<div class="col-sm-4 sidebar">
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>