<% include includes/header %>

  <div class="container">
    <section id="main">
      <div class="row">
        <div class="col-md-8">
            <div id="alert-warning" class="hidden">Din begäran kunde inte hanteras just nu, vänligen försök igen senare</div>
          <article>
            <h2>Ta bort konto :(</h2>
            Vi är så klart mycket ledsna över att du vill lämna oss, men om du så önskar går detta bra.<br />
            Observera att alla dina skapade sidor fortfarande kommer ligga kvar på sidan men istället för ditt namn kommer du nämnas som anonym. Om du loggar in med samma Facebook konto igen efter denna handling kommer du inte heller få tillbaka rättigheterna att redigera dina sidor.<br /><br />För att bekräfta att detta verkligen är vad du vill och för att ta bort din användare på Vegosvar kan du trycka på knappen nedan. <br />
            <br /><a id="submit-removal" class="btn btn-danger">Ta bort</a>
          </article>
        </div>
        <h2>Dina sidor</h2>
      </div>
    </section>
  </div>
      <script type="text/javascript">
        $('#submit-removal').on('click', function (e) {
          $('#submit-removal').addClass('disabled')
          e.preventDefault()
          $.get('/installningar/ta-bort/submit', function (data) {
            if(data == 1) {
              window.location = '/logga-ut'
            } else {
              if($('#alert-warning').hasClass('hidden')) {
                clearTimeout(timeout)
                $('#alert-warning').css({ 'display':'none' }).removeClass('hidden')
                $('#alert-warning').slideDown('fast')
                var timeout = setTimeout(function() {
                  $('#alert-warning').slideUp('fast')
                  setTimeout(function() { $('#alert-warning').addClass('hidden') }, 210)
                }, 6000)
              } else {
                clearTimeout(timeout)
                var timeout = setTimeout(function() {
                  $('#alert-warning').slideUp('fast')
                  setTimeout(function() { $('#alert-warning').addClass('hidden') }, 210)
                }, 6000)
              }
            }
          })
        })
      </script>
<% include includes/footer %>