<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Vanliga frågor</h1>
						

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title" id="1">Jag vill vara anonym på Vegosvar, hur gör jag?</h3>
						  </div>
						  <div class="panel-body">
								<p>Du ställer in det när du skapar en sida.</p>
						  </div>
						</div>

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title" id="2">Någon har skapat en sida för min restaurang eller butik, hur ändrar jag den?</h3>
						  </div>
						  <div class="panel-body">
								<p>Så länge sidan inte är låst av en moderator har du möjlighet att ändra sidan. Det gör du genom att välja <strong>Redigera sida</strong> inne på sidan. Då kommer även författaren till sidan att meddelas om att sidan har ändrats.</p>
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title" id="3">Kan vem som helst redigera mina sidor?</h3>
						  </div>
						  <div class="panel-body">
								<p>Ja, på så sätt blir det lättare för andra att bidra till innehåll och källhänvisningar. Du kommer alltid att meddelas om din sida har ändrats. Alla versioner av din sida sparas dessutom så att du enkelt kan hoppa tillbaka om något blev fel.</p>
						  </div>
						</div>

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title" id="4">Hur låser jag en sida från att redigeras?</h3>
						  </div>
						  <div class="panel-body">
								<p>Om en sida är tidlös eller inte bör kunna redigeras av andra orsaker finns det anledning att låsa den. Det gör du genom att <strong>Rapportera sidan</strong> inne på den sida du önskar låsa. En moderator kommer då att se över ärendet.</p>
						  </div>
						</div>
						
					</section>
				</div>
				<div class="col-sm-4 sidebar">
					<div class="well">
						<table class="table">
							
							<!-- TODO: Use "nice" and "smooth" scrolling instead of native "jumps" -->
							
							<thead>
								<tr>
									<td><strong>Snabblänkar</strong></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#1">Jag vill vara anonym</a></td>
								</tr>
								<tr>
									<td><a href="#2">Någon har skapat en sida för min restaurang eller butik, hur ändrar jag den?</a></td>
								</tr>
								<tr>
									<td><a href="#3">Kan vem som helst redigera mina sidor?</a></td>
								</tr>
								<tr>
									<td><a href="#4">Hur låser jag en sida från att redigeras?</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>