<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Våra riktlinjer</h1>
						

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Upphovsrätt</h3>
						  </div>
						  <div class="panel-body">
						  	<p>Det innehåll som publiceras på Vegosvar är i regel licensierat under <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.sv">CC0</a>, vilket tillåter obegränsad användning för alla i alla syften. I praktiken har den ursprungliga upphovsrättsinnehavaren helt frånsagt sig upphovsrätten. Det är därför viktigt att du som lägger upp innehåll på Vegosvar har rätt till att använda dem på Vegosvar.</p>
								<p>För att möjliggöra publicering av t.ex företags produktbilder eller annat grafisk material som av något skäl inte lämpar sig att släppas fritt kan du som laddar upp bilder välja att inte släppa innehållet under <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.sv">CC0</a>, utan istället med en annan licens. Det alternativet finns alltid när du ska ladda upp bilder, under fliken "Avancerat". Kom ihåg att även här måste du ha rättigheten att publicera bilden på Vegosvar.</p>
								<p>Vi på Vegosvar har publicerat allt som vi själva har skapat på <a href="https://github.com/vegosvar">GitHub</a></p>
						  </div>
						</div>

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Källhänvisningar</h3>
						  </div>
						  <div class="panel-body">
						    <p>För att vi ska kunna hålla en hög standard på innehållet på Vegosvar så ska det alltid finnas källhänvisningar. På så sätt kan vem som helst kontrollera korrektheten i det som skrivs, men också utvärdera trovärdigheten i de källor som hänvisas. Finns det påståenden som är direkt felaktiga eller rent av skadliga så uppmanar vi dig som användare att i första hand göra ändringar på den berörda sidan, och i andra hand flagga innehållet för moderering.</p>
								<p>Källor som bygger på pseudovetenskap accepteras inte över huvud taget.</p>
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Språk</h3>
						  </div>
						  <div class="panel-body">
						    Mer utförlig beskrivning av "Använd ett tydligt och objektivt språk"
						  </div>
						</div>
						
						<h2 id="visuell">Grafisk guide</h2>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Formatering av löpande text</h3>
						  </div>
						  <div class="panel-body">
						    Förklaring av markdown etc
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Vår grafiska profil</h3>
						  </div>
						  <div class="panel-body">
						    Färger, logotyp mm
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Pressbilder</h3>
						  </div>
						  <div class="panel-body">
						    Pressbilder, loggor etc?
						  </div>
						</div>
					</section>
				</div>
				<div class="col-sm-4 sidebar">
					<% include post/includes/sidebar %>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>