<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Riktlinjer</h1>
						
						<h2>Upphovsrätt</h2>
					  	<p>Det innehåll som publiceras på Vegosvar är i regel licensierat under <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.sv">CC0</a>. Det tillåter obegränsad användning för alla, både i kommersiellt och privat syfte. I praktiken har den ursprungliga upphovsrättsinnehavaren helt frånsagt sig upphovsrätten. Det är därför viktigt att du som lägger upp innehåll på Vegosvar har rätt till att använda dem på Vegosvar.</p>
						<p><strong>Det är däremot</strong> möjligt att ändra licenstyp vid publicering av sidor. Det passar t.ex produktbilder eller annat grafisk material som av något skäl inte lämpar sig att släppas fritt. Kom ihåg att du även här måste du ha rättigheten att publicera bilden på Vegosvar.</p>
						<p>Vi på Vegosvar har publicerat allt som vi själva har skapat på <a href="https://github.com/vegosvar">GitHub</a>, släppt under CC0.</p>

						<h2>Källhänvisningar</h2
					    <p>För att vi ska kunna hålla en hög standard på innehållet på Vegosvar så ska det alltid finnas källhänvisningar. På så sätt kan vem som helst kontrollera korrektheten i det som skrivs, men också utvärdera trovärdigheten i de källor som hänvisas. Finns det påståenden som är direkt felaktiga eller rent av skadliga så uppmanar vi dig som användare att i första hand göra ändringar på den berörda sidan, och i andra hand flagga innehållet för moderering.</p>
						<p>Källor som bygger på pseudovetenskap accepteras inte.</p>

						<h2>Språk</h2>
						<p>Det språk som används på sidor publicerade på Vegosvar ska vara sakligt och informativt. Användandet av värdeladdade ord, personliga reflektioner eller åsikter hör i regel inte hemma på faktabaserade sidor. Personliga kommentarer och åsikter är däremot välkomna i kommentarsfälten.</p>

						<h2>Relevans</h2>
						Det är viktigt att sidan du skapar eller redigerar har relevans. Vegosvar är en sajt riktad till personer som söker information om (lakto-/ovo-)vegetarisk kost eller en vegansk livsstil, och innehållet måste därför spegla detta. En faktasida som beskriver hur båtar är konstruerade eller ett recept på lammburgare är därför inte särskilt lämpligt.
					</section>
				</div>
				<div class="col-sm-4 sidebar">
					<% include post/includes/sidebar %>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>