<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Våra riktlinjer</h1>
						

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Upphovsrätt</h3>
						  </div>
						  <div class="panel-body">
						    Mer utförlig beskrivning av "Du måste äga rättigheterna till materialet"
						  </div>
						</div>

						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Källhänvisningar</h3>
						  </div>
						  <div class="panel-body">
						    Mer utförlig beskrivning av "Kom ihåg att källhänvisa"
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Språk</h3>
						  </div>
						  <div class="panel-body">
						    Mer utförlig beskrivning av "Använd ett tydligt och objektivt språk"
						  </div>
						</div>
						
						<h2 id="visuell">Grafisk guide</h2>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Formatering av löpande text</h3>
						  </div>
						  <div class="panel-body">
						    Förklaring av markdown etc
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Vår grafiska profil</h3>
						  </div>
						  <div class="panel-body">
						    Färger, logotyp mm
						  </div>
						</div>
						
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Pressbilder</h3>
						  </div>
						  <div class="panel-body">
						    Pressbilder, loggor etc?
						  </div>
						</div>
					</section>
				</div>
				<div class="col-sm-4 sidebar">
					<% include post/includes/sidebar %>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>