<% include includes/header %>

	<div id="heroSearch">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">

					<div class="intro">
						<h1>Enkla svar på vegofrågor</h1>
					</div>

					<div class="searchEngine input-group">
						<input type="text" class="form-control searchForm" name="srch-term" id="srch-term" placeholder="Vad söker du?" autocomplete="off" autofocus="autofocus">
						<div class="input-group-btn">
							<button class="btn btn-default" id="searchForm-btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>

			        <p class="hidden-xs">Sök fakta, restauranger, produkter, drycker, butiker & recept</p>
			        <p class="visible-xs">Fakta, restauranger, produkter & drycker</p>

				</div>
			</div>
		</div>
	</div>

	<section id="results">
		<div class="container">
			<div id="searchEngine-noResults" style="display:none;"><h2>Inga resultat hittades</h2></div>

			<div id="searchFor"></div>

			<div class="row">
				<div id="searchResult"></div>
			</div>
		</div>
	</section>

	<section id="handpicked">
		<div class="container">
			<h2>Utvalda sidor</h2>
			<div class="row">
				<% for(var i=0; i < pages.length; i++) {%>
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="result">
						<% if (typeof pages[i].post.cover !== 'undefined') { %>
						<div class="image" style="background-image: url(/uploads/<%= pages[i].post.cover.filename %>_thumb.jpg)"></div>
						<% } else { %>
						<div class="image" style="background-image: url(http://holdr.me/image/?width=345&height=181&random=<%= pages[i]._id %>"></div>
						<% } %>
						<div class="content">
							<a href="/<%= pages[i].url %>"><h3><%= pages[i].title %></h3></a>
							<p><%= pages[i].post.content %></p>
						</div>
						<div class="more">
							<span class="info">Öppet 17.00 - 19.00</span>
							<a href="/<%= pages[i].url %>" class="btn btn-primary">Läs mer</a>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</section>


<% include includes/promotion %>
<% include includes/footer %>