<% include includes/header %>

	<div id="heroSearch" class="<%= typeof searchString !== 'undefined' ? 'contracted':'transition' %>">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">

					<div class="intro">
						<h1>Enkla svar på vegofrågor</h1>
					</div>

					<div class="searchEngine input-group">
						<input type="text" class="form-control searchForm" name="srch-term" id="srch-term" placeholder="Vad söker du?" autocomplete="off" value="<%= typeof searchString !== 'undefined' ? searchString:'' %>">
						<div class="input-group-btn">
							<button class="btn btn-default" id="searchForm-btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>

			        <p class="searchTips hidden-xs">Sök fakta, restauranger, produkter, drycker, butiker & recept</p>
			        <p class="searchTips visible-xs">Fakta, restauranger, produkter & drycker</p>
				</div>
			</div>
		</div>
	</div>

	<section id="results">
		<div class="container">
			<div id="searchEngine-noResults" style="display:none;"><h2>Inga resultat kunde hittas</h2></div>

			<div id="searchFor"></div>

			<div class="row">
				<div id="searchResult"></div>
			</div>
		</div>
	</section>

	<section id="handpicked">
		<div class="container">
			<h2>Populära sidor</h2>
			<div class="row">
				<% for(var i=0; i < pages.length; i++) {%>
				<div class="col-sm-4 col-md-4 col-lg-3">
					<div class="result">
						<% if (typeof pages[i].post.cover !== 'undefined' && pages[i].post.cover.filename !== null) { %>
						<a href="/<%= pages[i].url %>">
							<div class="image" style="background-image: url(/uploads/<%= pages[i].post.cover.filename %>_thumb.jpg)"></div>
						</a>
						<% } else { %>
							<a href="/<%= pages[i].url %>">
								<div class="image" style="background-image: url(/assets/images/placeholder-<%= pages[i].type %>.svg)"></div>
							</a>
						<% } %>
						<div class="content">
							<div class="text-overflow">
								<a href="/<%= pages[i].url %>"><h3><%= pages[i].title %></h3></a>
								<% if (typeof pages[i].post.content !== 'undefined' && pages[i].post.content !== null) {
									if(pages[i].post.content.length > 115) {
										var content = '' + pages[i].post.content.substring(0,115) + '...'
									} else {
										var content = '' + pages[i].post.content
									}
								} %>
								<p>
									<% if (pages[i].type === '4') { %>
										<% if (pages[i].post.veg_type === 'animal') { %>
											<strong class="text-danger">Animaliskt</strong>
										<% } else if (pages[i].post.veg_type === 'lacto_ovo') { %>
											<strong class="text-warning">Lakto-ovo</strong>
										<% } else { %>
											<strong class="text-success">Veganskt</strong>
										<% } %>
									<% } %>
									<%= content %>
								</p>
							</div>
						</div>
						<% if (pages[i].type !== '1' && pages[i].post.veg_type !== 'animal') { %>
							<div class="stars">
								<div class="star empty">
									<span class="glyphicon glyphicon-star"></span>
								</div>
								<div class="star empty">
									<span class="glyphicon glyphicon-star"></span>
								</div>
								<div class="star empty">
									<span class="glyphicon glyphicon-star"></span>
								</div>
								<div class="star empty">
									<span class="glyphicon glyphicon-star"></span>
								</div>
								<div class="star empty">
									<span class="glyphicon glyphicon-star"></span>
								</div>
	                			<span class="votes">0</span>
							</div>
						<% } %>
						<div class="more">
							<a href="/<%= pages[i].url %>" class="btn btn-primary">Läs mer</a>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</section>


<% include includes/promotion %>
<% include includes/footer %>