<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<article>
						<h1>Licens</h1>
						<p class="preamble">Plattformen Vegosvar och hela den grafiska profilen som tillhör Vegosvar är licenserad under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>, det innebär att du kan använda den precis som du vill, både privat och kommersiellt. Varsågod!</p> 
						<h2>Restriktioner</h2>
						<p>Den licens som appliceras på våra publicerade sidor kan däremot variera beroende på vad författaren av sidan har valt att släppa materialet under. Det som postas på Vegosvar brukar i regel vara licenserat under CC0, i annat fall står det på den berörda sidan vilken licens som gäller.</p>
					</article>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>