<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-7">
          <h1>Logga in via Facebook</h1>
          <p>Med hjälp av ditt Facebook-konto kan du logga in och publicera sidor.</p>
          <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Vi kommer inte att posta saker på din Facebookvägg</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Vi kommer endast att fråga efter din offentliga profil</li>
          </ul>
          <p><a href="/auth/facebook" class="btn btn-edit"><span class="glyphicon glyphicon-lock"></span> Logga in via Facebook</a></p><br>
        </div>
        <div class="col-sm-5">
          <div class="well">
            <div class="row">
              <div class="col-xs-4">
                <img src="/assets/images/recept.svg">
              </div>
              <div class="col-xs-8">
                <h3>Inspirera & informera</h3>
                <span>Har du ett gott recept liggandes, eller vet du något som andra också borde känna till? Dela din kunskap på Vegosvar.</span>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-xs-4">
                <img src="/assets/images/chef.svg">
              </div>
              <div class="col-xs-8">
                <h3>Marknadsför dig själv</h3>
                <span>Oavsett om du är produkttillverkare, bloggare eller restaurang så får du möjlighet att synas. Det är helt gratis att publicera nya sidor.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </article>
  </div>

<% include includes/footer %>