<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
          <section class="text-center">
            <p><img src="/assets/images/login.svg" style="width: 150px;"></p>
            <h1>Logga in via Facebook</h1>
            <p class="preamble">Vi kommer endast att fråga efter din offentliga profil</p><br>
            <p><a href="/auth/facebook" class="btn btn-edit lg"><span class="glyphicon glyphicon-lock"></span> Logga in via Facebook</a></p>
          </section>
          <div class="row">

            <div class="col-sm-6">
              <div class="well">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="/assets/images/recept.svg" class="circle">
                  </div>
                  <div class="col-xs-8">
                    <h3>Inspirera & informera</h3>
                    <span>Har du ett gott recept liggandes, eller vet du något som andra också borde känna till? Dela din kunskap på Vegosvar.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="well">
                <div class="row">
                  <div class="col-xs-4">
                    <img src="/assets/images/chef.svg" class="circle">
                  </div>
                  <div class="col-xs-8">
                    <h3>Marknadsför dig själv</h3>
                    <span>Oavsett om du är en bloggare, produkttillverkare eller restaurang så får du möjlighet att synas här. Det är helt gratis att publicera nya sidor.</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </article>
  </div>

<% include includes/footer %>