<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-8">
          <h1>Logga in</h1>
          <h2>Inloggning via Facebook</h2>
          <p>Med hjälp av ditt Facebook-konto kan du logga in och börja publicera sidor.<br>
          Dina kontaktuppgifter kommer endast att användas för att logga in på Vegosvar.</p>
          <p><a href="/auth/facebook" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Logga in med Facebook</a></p><br>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3><span class="glyphicon glyphicon-education blue"></span> Inspirera & informera</h3>
            <span>Har du ett gott recept liggandes, eller vet du något som andra också borde känna till? Dela din kunskap på Vegosvar.</span>
          </div>
          <div class="well">
            <h3><span class="glyphicon glyphicon-star yellow"></span> Marknadsför dig själv</h3>
            <span>När du publicerar nya sidor har du även möjlighet att marknadsföra din blogg eller hemsida, helt gratis såklart.</span>
          </div>
        </div>
      </div>

    </article>
  </div>

<% include includes/footer %>