<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 text-center">

					<section>
						<p><img src="/assets/images/createnew.svg" style="width: 250px;"></p>
						<h1>Skapa en ny sida</h1>
						<p class="preamble">Välj kategori</p>
						<div class="row new">
							<div class="col-xs-6 col-sm-3">
								<a href="/ny/fakta" class="category fact"><span class="glyphicon glyphicon-apple"></span> Fakta</a>
							</div>
							<div class="col-xs-6 col-sm-3">
								<a href="#" class="category recipe"><span class="glyphicon glyphicon-book"></span> Recept</a>
							</div>
							<div class="col-xs-6 col-sm-3">
								<a href="#" class="category restaurant"><span class="glyphicon glyphicon-cutlery"></span> Restaurang/Butik</a>
							</div>
							<div class="col-xs-6 col-sm-3">
								<a href="#" class="category product"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Produkt</a>
							</div>
						</div>
					</section>

				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>