<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">

					<section class="text-center">

						<div class="row">
							<div class="col-sm-6">
								<p><img src="/assets/images/createnew.svg" style="width: 200px;"></p>
								<h1>Skapa en sida</h1>
								<p class="preamble">Nå ut till vegointresserade</p>
							</div>
							<div class="col-sm-6">
								<div class="row new">
									<div class="col-xs-6 col-sm-6">
										<a href="/ny/fakta" class="category fact"><span class="glyphicon glyphicon-apple"></span> Fakta</a>
									</div>
									<div class="col-xs-6 col-sm-6">
										<a href="/ny/recept" class="category recipe"><span class="glyphicon glyphicon-book"></span> Recept</a>
									</div>
									<div class="col-xs-6 col-sm-6">
										<a href="/ny/plats" class="category restaurant"><span class="glyphicon glyphicon-cutlery"></span> Restaurang/Butik</a>
									</div>
									<div class="col-xs-6 col-sm-6">
										<a href="/ny/produkt" class="category product"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Produkt</a>
									</div>
								</div>
							</div>
						</div>

					</section>

				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>