<% include includes/header %>

	<div class="container">
		<div id="content">

			<div class="row">
				<div class="col-sm-12">

					<h1>Publicera</h1>
					<h2>Skapa svar, så har vi snart inga frågor kvar</h2>
					<hr>
					<div class="row new">
						<div class="col-sm-3">
							<a href="#" class="newType fact"><span class="glyphicon glyphicon-leaf"></span> Fakta</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="newType restaurant"><span class="glyphicon glyphicon-glass"></span> Restaurang</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="newType recipe"><span class="glyphicon glyphicon-book"></span> Recept</a>
						</div>
						<div class="col-sm-3">
							<a href="#" class="newType product"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Produkt/Livsmedel</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

<% include includes/footer %>