<% include includes/header %>

  <div class="container">
    <section id="main">

      <div class="row">
        <div class="col-sm-8">
          <article>

            <h1>Mina sidor</h1>

            <div class="panel panel-default">
              <!-- No table heading, h1 is enough? -->
              <div class="panel-heading">
                  <h3 class="panel-title">Skapade sidor</h3>
              </div>

              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Sida</th>
                    <th><span class="glyphicon glyphicon-comment"></span></th>
                    <th><span class="glyphicon glyphicon-heart"></span></th>
                    <th><span class="glyphicon glyphicon-star"></span></th>
                    <th>Redigera</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(typeof pages !== 'undefined') {
                    for(var i=0; i < pages.length; i++) { %>
                    <tr>
                      <td>
                        <a href="/<%= pages[i].url %>">
                          <%= pages[i].title %>
                        </a>
                      </td>
                      <td>
                        <span class="disqus-comment-count" data-disqus-identifier="<%= pages[i]._id %>"></span>
                      </td>
                      <td><%= ('rating' in pages[i]) ? pages[i].votes_sum : '' %></td>
                      <td><%= ('rating' in pages[i] && 'likes' in pages[i].rating) ? pages[i].rating.likes : '' %></td>
                      <td>
                        <a href="/redigera/<%= pages[i].url %>" class="btn btn-primary btn-xs pull-right">
                          Redigera
                        </a>
                      </td>
                    </tr>
                    <% }
                  } %>
                </tbody>
              </table>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Gillade sidor</h3>
              </div>

              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Sida</th>
                  </tr>
                </thead>
                <tbody>
                <% if(typeof likes !== 'undefined') {
                  for(var i=0; i < likes.length; i++) { %>
                  <tr>
                    <td>
                      <a href="<%= likes[i].url %>"><%= likes[i].title %></a>
                    </td>
                  </tr>
                <% }
                } %>
                </tbody>
              </table>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Betygsatta sidor</h3>
              </div>

              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Sida</th>
                    <th>Betyg</th>
                  </tr>
                </thead>
                <tbody>
                <% if(typeof votes !== 'undefined') {
                  console.log(votes[0])
                  for(var i=0; i < votes.length; i++) { %>
                  <tr>
                    <td>
                      <a href="<%= votes[i].url %>"><%= votes[i].title %></a>
                    </td>
                    <td>
                      <%= votes[i].content %>
                    </td>
                  </tr>
                <% }
                } %>
                </tbody>
              </table>
            </div>
          </article>
        </div>
        <% include includes/sidebar %>
      </div>

    </section>
  </div>

<% include includes/footer %>