<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-8">
          <h1>Mina sidor</h1>
          <p>Sidor du är originalförfattare till listas här, men ändringar kan ha gjorts av andra efter din senaste ändring.</p>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="well">
                <span class="flag flag-success">Godkänd</span>
                <h3>Hur ser jag att bananen är mogen?</h3>
                <a href="#" class="btn btn-edit">Redigera</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="well">
                <span class="flag flag-info">Granskas</span>
                <h3>Hur ser jag att bananen är mogen?</h3>
                <a href="#" class="btn btn-edit">Redigera</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="well">
                <span class="flag flag-warning">Ej godkänd</span>
                <h3>Vilken färg har bananen?</h3>
                <a href="#" class="btn btn-edit">Redigera</a>
              </div>
            </div>
          </div>
        </div>
        <% include includes/sidebar %>
      </div>

    </article>
  </div>

<% include includes/footer %>