<% include includes/header %>

  <div class="container">
    <section id="main">

      <div class="row">
        <div class="col-md-8">

          <article>

            <div class="headerImage">
              <% if (typeof post.post.cover !== 'undefined') { %>
              <img src="/uploads/<%= post.post.cover.filename %>.jpg" />
              <% } else { %>
              <% } %>
              <span class="license">
                <%= post.post.license %> 
                <% if (typeof post.post.license_holder_website !== 'undefined' && post.post.license_holder_website !== "") { %>
                  <a href="<%= post.post.license_holder_website %>" target="_blank">
                    <%= post.post.license_holder %>
                  </a>
                <% } %>
              </span>
            </div>

            <h1><%= post.title %></h1>

            <% if (post.type === '3') { %>
              <div class="city"><%= post.post.city %></div>
            <% } %>

            <p><%= post.post.content %></p>

            <% if (post.type === '3') { %>
              <% if (typeof post.post.website !== 'undefined' && post.post.website !== "") { %>
                <p><a href="<%= post.post.website %>" target="_blank"><%= post.post.website %></a></p>
              <% } %>

              <p>
                <a href="<%= post.post.googlemaps %>" class="btn btn-primary btn-block visible-xs" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Öppna karta</a>

                <a href="http://maps.apple.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-primary btn-block visible-xs" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Öppna karta</a>

                <a href="tel:<%= post.post.phone %>" target="_blank"  class="btn btn-secondary btn-block visible-xs">
                  <span class="glyphicon glyphicon-phone"></span>
                  <strong>Ring</strong> <%= post.post.phone %>
                </a> 
              </p>

              <hr class="lg hidden-xs">
              <div class="row">
                <div class="col-sm-7 text-center-xs">
                  <div id="openhours">
                    <h2>Öppettider</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Måndag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.monday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Tisdag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.tuesday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Onsdag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.wednesday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Torsdag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.thursday %></p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-6">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Fredag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.friday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Lördag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.saturday %></p>
                          </li>
                        </ul>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Söndag</h4> 
                            <p class="list-group-item-text"><%= post.post.openhours.sunday %></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 text-center hidden-xs" id="location">
                  <p><img src="/assets/images/map.svg" class="circle"></p>
                  <h2><%= post.post.city %></h2>
                  <div class="street">
                    <%= post.post.street %>
                  </div>
                  <p><a href="<%= post.post.googlemaps %>" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Google Maps</a></p>
                  <p><a href="http://maps.apple.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-secondary" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Apple Maps</a></p>
                </div>
              </div>

              <hr class="lg">
              
              <div id="contact">
                <a href="tel:<%= post.post.phone %>" target="_blank" class="hidden-xs">
                  <%= post.post.phone %>
                </a> 
                <% if (typeof post.post.email !== 'undefined' && post.post.email !== "") { %>
                  <div class="divider-vertical hidden-xs"></div>
                  <a href="mailto:<%= post.post.email %>" target="_blank">
                    <h2 class="visible-xs no-top">Mail</h2>
                    <%= post.post.email %>
                  </a>
                <% } %>
              </div>
            <% } %>

          </article>

          <div class="row">
            <div class="col-sm-7">
              <div class="card profile">
                <div class="row">

                  <div class="col-xs-4 col-sm-4 col-md-3 avatar">
                    <a href="#"><img src="<%= user_info.photo %>" class="avatar circle"></a>
                  </div>

                  <div class="col-xs-8 col-sm-8 col-md-8 info">
                    <small>Publicerat av</small>
                      <% if (typeof user_info.info !== 'undefined' && user_info.info.website !== "") { %>
                        <a href="<%= user_info.info.website %>" title="<%= user_info.info.website %>" target="_blank"><h3><%= user_info.name.display_name %></h3></a>
                      <% } else { %>
                        <h3><%= user_info.name.display_name %></h3>
                      <% } %>
                    <span class="description">
                      <% if (typeof user_info.info !== 'undefined') { if (typeof user_info.info.description !== 'undefined') { %>
                      <%= user_info.info.description %><% } } %>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-sm-5 actions">
              <div class="row">
                <div class="col-xs-6 col-md-12">
                  <a href="#" class="btn btn-like"><span class="glyphicon glyphicon-heart-empty"></span> Gilla <span class="count">47</span></a>
                </div>
                <% if (typeof user !== 'undefined') { if (user.id === user_info.id) { %>
                <div class="col-xs-6 col-md-12">
                  <a href="#" class="btn btn-edit">Föreslå ändring</a>
                </div>
                <% } } %>
              </div>
            </div>
          </div>

        </div>


        <div class="col-sm-6 col-md-4 sidebar">

          <h2>Relaterade sidor</h2>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <% if (post.type === '3') { %>
          <hr>
            <h2>Recentioner</h2>
          <% } %>
          <div id="disqus_thread"></div>
          <script>
            (function() {
            var d = document, s = d.createElement('script');

            s.src = '//vegosvar.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
        </div>
      </div>

    </section>
  </div>

<% include includes/footer %>
