<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-8">

          <section>
            <div class="headerImage">
              <img src="http://holdr.me/image/?w=1200&h=630&random=1">
            </div>
            <h1><%= post.title %></h1>
            <p><%= post.post.content %></p>
            <hr>
            <h3>Källor</h3>
            <ul class="sources">
              <li><small>1. <a href="http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/vegetarisk-meny/">http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/vegetarisk-meny</a></small></li>
              <li><small>2. <a href="http://vegoriket.se/2014/04/helvegetarisk-restaurang-oppnar-pa-liseberg/">http://vegoriket.se/2014/04/helvegetarisk-restaurang-oppnar-pa-liseberg</a></small></li>
            </ul>      
          </section>

          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//vegosvar.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>

        </div>


        <div class="col-sm-4 sidebar">

          <div class="card profile">
            <div class="row">

              <div class="col-xs-4 col-sm-12 col-md-4 avatar">
                <a href="#"><img src="<%= user.photo %>" class="avatar"></a>
              </div>

              <div class="col-xs-8 col-sm-12 col-md-8 info">
                <small>Publicerat av</small>
                <a href="<%= user.info.website %>" title="<%= user.info.website %>" target="_blank"><h3><%= user.name.display_name %></h3></a>
                <span class="description">
                  <% if (typeof user.info !== 'undefined') { if(typeof user.info.description !== 'undefined') { %>
                  <%= user.info.description %><% } } %>
                </span>
              </div>

            </div>
          </div>


          <div class="actions">
            <div class="row">
              <div class="col-lg-6">
                <a href="#" class="btn btn-like"><span class="glyphicon glyphicon-heart-empty"></span> Uppskatta <span class="count">47</span></a>
              </div>
              <div class="col-lg-6">
                <a href="#" class="btn btn-edit"><span class="glyphicon glyphicon-pencil"></span> Föreslå ändring</a>
              </div>
            </div>
          </div>

        </div>
      </div>


    </article>
  </div>

<% include includes/footer %>
