<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-8">
          <section>

            <h1>Mina sidor</h1><br>
            
            <div class="panel panel-default">
              <!-- No table heading, h1 is enough? -->
              <div class="panel-heading">
                  <h3 class="panel-title">Skapade sidor</h3>
              </div>

              <table class="table small-xs">
                <thead>
                  <tr>
                    <th>Sida</th>
                    <th>Senast ändrad av</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < pages.length; i++) {%>
                  <tr>
                    <th scope="row"> 
                      <a href="#"><%= pages[i].title %></a>
                      <span style="font-size:0.8em;color:#B2B2B2" data-toggle="tooltip" title="Låst" data-placement="right"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    </th>
                    
                    <td><%= pages[i].user_info.id %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <br>
            
            <div class="panel panel-default">
              <!-- No table heading, h1 is enough? -->
              <div class="panel-heading">
                  <h3 class="panel-title">Ändrade sidor</h3>
                </div>
              <div class="panel-body">
                Sidor som du har skapat eller föreslagit ändringar på.
              </div>

              <table class="table small-xs">
                <thead>
                  <tr>
                    <th>Sida</th>
                    <th>Typ</th>
                    <th>Senast ändrad av</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"> 
                      <a href="#">Goodstore Stockholm</a>
                      <span style="font-size:0.8em;color:#ccc" data-toggle="tooltip" title="Låst" data-placement="right"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    </th>
                    <td>
                      <a href="#" data-toggle="tooltip" title="Restaurang/Butik" data-placement="right">
                      <span class="label label-warning"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></span></a>
                    </td>
                    <td>Jeremy Lloyd Gallant</td>
                  </tr>

                  <tr>
                    <th scope="row"><a href="#">Goodstuff</a></th>
                    <td>
                      <a href="#" data-toggle="tooltip" title="Produkt" data-placement="right">
                        <span class="label label-primary"><span class="glyphicon glyphicon-ice-lolly-tasted" aria-hidden="true"></span></span>
                      </a>
                    </td>
                    <td>Jeremy Lloyd Gallant</td>
                  </tr>

                  <tr>
                    <th scope="row"><a href="#">Vad är gelatin?</a></th>
                    <td>
                      <a href="#" data-toggle="tooltip" title="Fakta" data-placement="right"><span class="label label-success">
                        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span></span>
                      </a>
                    </td>
                    <td>Jeremy Lloyd Gallant</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <% include includes/sidebar %>
      </div>

    </article>
  </div>

<% include includes/footer %>