<% include includes/header %>

  <div class="container">
    <section id="main">

      <div class="row">
        <div class="col-md-8">

          <article>

            <div class="headerImage">
              <% if (typeof post.post.cover.filename !== 'undefined' && post.post.cover.filename !== "" && post.post.cover.filename !== null) { %>
              <img src="/uploads/<%= post.post.cover.filename %>.jpg" alt="<%= post.title %>"/>
              <% } %>
              <span class="license">
                <%= post.post.license %>
                <% if (typeof post.post.license_holder_website !== 'undefined' && post.post.license_holder_website !== "") { %>
                  <a href="<%= post.post.license_holder_website %>" target="_blank"  rel="nofollow">
                    <%= post.post.license_holder %>
                  </a>
                <% } else { %>
                  <%= post.post.license_holder %>
                <% } %>
              </span>
            </div>

            <div class="content">

              <h1><%= post.title %></h1>

              <% if (post.type === '3' || post.type === '5') { %>
                <h2 class="subtitle"><%= post.post.city %></h2>
              <% } %>
              <% if (post.type === '4') { %>
                <h2 class="subtitle"><%= post.post.manufacturer %></h2>
              <% } %>

              <p>
                <% if (post.type === '4') { %>
                    <% if (post.post.veg_type === 'animal') { %>
                      <strong class="text-danger"><%= post.title %> är animaliskt.</strong>
                    <% } else if (post.post.veg_type === 'lacto_ovo') { %>
                      <strong class="text-warning"><%= post.title %> är Lakto-ovo-vegetariskt.</strong>
                    <% } else { %>
                      <strong class="text-success"><%= post.title %> är Veganskt.</strong>
                    <% } %>
                  <% } %>
                <%- post.post.content %>
              </p>

              <% if (post.type === '3' || post.type === '5' || post.type === '4' && post.post.veg_type !== 'animal') { %>
                <div class="stars">
                  <div class="star empty">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <div class="star empty">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <div class="star empty">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <div class="star empty">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <div class="star empty">
                    <span class="glyphicon glyphicon-star"></span>
                  </div>
                  <span class="votes">0<span class="additional">röster</span></span>
                </div>
              <% } %>

              <% if (typeof post.post.manufacturer_website !== 'undefined' && post.post.manufacturer_website !== "") { %>
                <p><a href="<%= post.post.manufacturer_website %>" target="_blank" rel="nofollow">
                  <%= post.post.manufacturer_website %>
                </a></p>
              <% } %>

              <% if (post.type === '3' || post.type === '5') { %>

                <p class="hidden-xs">
                <% if (typeof post.post.phone !== 'undefined' && post.post.phone !== "") { %>
                  <strong>Telefon</strong> <%= post.post.phone %><br>
                <% } %>

                <% if (typeof post.post.mail !== 'undefined' && post.post.mail !== "") { %>
                  <strong>Mail</strong>
                  <a href="mailto:<%= post.post.email %>" target="_blank">
                    <%= post.post.email %>
                  </a><br>
                <% } %>

                <% if (typeof post.post.website !== 'undefined' && post.post.website !== "") { %>
                  <a href="<%= post.post.website %>" target="_blank" rel="nofollow">
                    <%= post.post.website %>
                  </a><br>
                <% } %>
                </p>

                <p>
                  <a href="http://maps.google.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-primary btn-block visible-xs" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Öppna karta</a>

                  <a href="http://maps.apple.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-primary btn-block visible-xs" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Öppna karta</a>
                  <% if (typeof post.post.phone !== 'undefined' && post.post.phone !== "") { %>
                    <a href="tel:<%= post.post.phone %>" target="_blank"  class="btn btn-secondary btn-block visible-xs">
                      <span class="glyphicon glyphicon-phone"></span>
                      <strong>Ring</strong> <%= post.post.phone %>
                    </a>
                <% } %>
                </p>
              </div>

              <hr class="lg hidden-xs">
              <div class="row">
                <div class="col-sm-7 text-center-xs">
                  <div id="openhours">
                    <h2>Öppettider</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Måndag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.monday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Tisdag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.tuesday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Onsdag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.wednesday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Torsdag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.thursday %></p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-6">
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Fredag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.friday %></p>
                          </li>
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Lördag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.saturday %></p>
                          </li>
                        </ul>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <h4 class="list-group-item-heading">Söndag</h4>
                            <p class="list-group-item-text"><%= post.post.openhours.sunday %></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5 text-center hidden-xs" id="location">
                  <p><img src="/assets/images/map.svg" class="circle"></p>
                  <h2><%= post.post.city %></h2>
                  <div class="street">
                    <%= post.post.street %>
                  </div>
                  <p><a href="http://maps.google.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Google Maps</a></p>
                  <p><a href="http://maps.apple.com/?q=<%= post.post.street %>, <%= post.post.city %>" class="btn btn-secondary" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Apple Maps</a></p>
                </div>
              </div>

            <% } %>

            <div class="row">
              <div class="col-sm-12">
                  <% if (typeof post.post.sources !== 'undefined') { %>
                      <% if(post.post.sources.name !== null) { %>
                          <h3>Källor</h3>
                          <ul id="sources-list" class="list-group">
                              <% for(var i=0;i<post.post.sources.name.length;i++) { %>
                                  <li id="source-<%= (i+1) %>" class="list-group-item">
                                      <span>
                                          <span class="source-id"><%= (i+1) %>.</span>
                                          <a href="<%= post.post.sources.url[i] %>" 
                                            target="_blank" 
                                            title="<%= post.post.sources.url[i] %>" 
                                            class="source-url">
                                            <span class="source-name"><%= post.post.sources.name[i] %></span>
                                          </a>
                                      </span>
                                  </li>
                              <% } %>
                          </ul>
                      <% } %>
                  <% } %>
              </div>
            </div>

          </article>

          <div class="row">
            <div class="col-sm-7">
              <div class="card transparent">
                <div class="row">
                  <% if (typeof post.user_info.hidden !== true && post.user_info.hidden == "") { %>
                    <div class="col-xs-4 col-sm-4 col-md-3 avatar">
                      <a href="#"><img src="<%= user_info.photo %>" class="avatar circle"></a>
                    </div>

                    <div class="col-xs-8 col-sm-8 col-md-8 info">
                      <small>Publicerat av</small>
                      <% if (typeof user_info.info !== 'undefined' && user_info.info.website !== "") { %>
                        <a href="<%= user_info.info.website %>" title="<%= user_info.info.website %>" target="_blank" rel="nofollow"><h3><%= user_info.name.display_name %></h3></a>
                      <% } else { %>
                        <h3><%= user_info.name.display_name %></h3>
                      <% } %>
                      <span class="description">
                        <% if (typeof user_info.info !== 'undefined') { if (typeof user_info.info.description !== 'undefined') { %>
                          <%= user_info.info.description %>
                        <% } } %>
                      </span>
                    </div>
                  <% } else { %>
                    <div class="col-xs-4 col-sm-4 col-md-3 avatar">
                      <a href="#"><img src="/assets/images/no-picture.svg" class="avatar circle"></a>
                    </div>

                    <div class="col-xs-8 col-sm-8 col-md-8 info">
                      <small>Publicerat av</small>
                      <h3>Anonym</h3>
                      <span class="description">
                        Författaren till artikeln har valt att vara anonym. Kanske är det Batman?
                      </span>
                    </div>
                  <% } %>

                </div>
              </div>
            </div>
            <div class="col-sm-5 actions">
              <div class="row">
                <div class="col-xs-6 col-md-12">
                  <a href="#" class="btn btn-like"><span class="glyphicon glyphicon-heart-empty"></span> Gilla <span class="count">47</span></a>
                </div>
                <% if (typeof user !== 'undefined') { if (user.id === user_info.id) { %>
                <div class="col-xs-6 col-md-12">
                  <a href="#" class="btn btn-edit">Föreslå ändring</a>
                </div>
                <% } } %>
              </div>
            </div>
          </div>

        </div>


        <div class="col-sm-6 col-md-4 sidebar">

          <div class="card">
            <h3>Funderar du på något?</h3>
            <p>Gå med i Sveriges största Facebookgrupp för Vegetarianer & Veganer.</p>
            <a href="https://www.facebook.com/groups/840104332722635/?fref=ts" target="_blank" class="btn btn-secondary">Gå med i Facebookgruppen</a>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <% if (post.type === '3') { %>
          <hr>
            <h2>Recensioner</h2>
          <% } %>
          <div id="disqus_thread"></div>
          <script>
            (function() {
            var d = document, s = d.createElement('script');

            s.src = '//vegosvar.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
        </div>
      </div>

    </section>
  </div>

<% include includes/footer %>
