<% include includes/header %>

	<div class="container">
		<section id="main">

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<article>	
						<h1 class="no-margin-top">Press</h1>
						
						<h2>Logotyp</h2>

						<p>
							<a href="/assets/images/profile/vegosvar.zip" class="btn btn-edit">
							<span class="glyphicon glyphicon-arrow-down"></span> Ladda ner logopaket</a>
						</p>
						
						<hr>

						<h2>Pressbilder</h2>
						<p><a href="/assets/images/profile/vegosvar-press_0.png"><img src="/assets/images/profile/vegosvar-press_0.png" style="max-width: 400px;"></a></p>
						<p><a href="/assets/images/profile/vegosvar-press_1.png"><img src="/assets/images/profile/vegosvar-press_1.png" style="max-width: 400px;"></a></p>
						<p><a href="/assets/images/profile/vegosvar-press_2.png"><img src="/assets/images/profile/vegosvar-press_2.png" style="max-width: 400px;"></a></p>
						<p><a href="/assets/images/profile/vegosvar-press_3.png"><img src="/assets/images/profile/vegosvar-press_3.png" style="max-width: 400px;"></a></p>
					</article>
				</div>
			</div>

		</section>
	</div>

<% include includes/footer %>