<% include includes/header %>

	<div class="container">
		<section id="main">

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<article>
						<h1 class="no-margin-top">Press</h1>
						<h2>Kontakt</h2>
						<p class="preamble">
							<a href="mailto:press@vegosvar.se">press@vegosvar.se</a>
						</p>
						
						<hr>

						<h2>Pressmaterial</h2>

						<p>
							<a href="/assets/images/profile/vegosvar.zip" class="btn btn-edit">
							<img src="/assets/images/vegosvar_icon.svg" style="position: relative; width: 20px; height: 20px; margin-right: 5px; top: -1px;"> Ladda ner logopaket</a>
						</p>
						<div class="row">
							<div class="col-xs-6">
								<p><a href="/assets/images/profile/vegosvar-press_0.jpg" target="_blank">
									<img src="/assets/images/profile/vegosvar-press_0.jpg" style="max-width: 400px;">
								</a></p>
							</div>

							<div class="col-xs-6">
								<p><a href="/assets/images/profile/vegosvar-press_5.jpg" target="_blank">
									<img src="/assets/images/profile/vegosvar-press_5.jpg" style="max-width: 400px;">
								</a></p>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<p><a href="/assets/images/profile/vegosvar-press_6.jpg" target="_blank">
									<img src="/assets/images/profile/vegosvar-press_6.jpg" style="max-width: 400px;">
								</a></p>
							</div>
							<div class="col-xs-6">
								<p><a href="/assets/images/profile/vegosvar-press_map.png" target="_blank">
									<img src="/assets/images/profile/vegosvar-press_map.png" style="max-width: 400px;">
								</a></p>
							</div>
						</div>
					</article>
				</div>
			</div>

		</section>
	</div>

<% include includes/footer %>