<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">

					<article>
						<p><img src="/assets/images/orange.svg" style="width: 150px;"></p>
						<h1>Rapportera ett fel</h1>
						<p class="preamble">Hittat något som inte stämmer?<br> 
						Välkommen att höra av dig till oss så åtgärdar vi det.</p>
						<a href="http://facebook.com/vegosvar" target="_blank" class="btn btn-warning lg">
							Skicka ett meddelande
						</a>
					</article>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>