<% include includes/header %>

  <div class="container">
    <article>

      <div class="row">
        <div class="col-sm-8">
          <div class="headerImage">
            <img src="uploads/green-room.jpg" alt="Green room">
          </div>
          <h1>The Green Room, Göteborg</h1>
          <h2>Vegansk restaurang</h2>
          <p>The Green Room på Liseberg i Göteborg erbjuder bland annat vegansk/helvegetarisk buffé. <small>(1)</small> De har rätter så som en krämig linsgryta, pastasallader, potatissallader, kryddig wok med tzay och ingefära bland annat. <small>(2)</small></p>
          <h3>Adress</h3>
          <p>Örgrytevägen 5, 402 22 Göteborg</p>
          <p><a href="http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/" target="_blank" class="btn btn-primary">Boka bord</a> 
          <a href="http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/" target="_blank" class="btn btn-primary">Se karta</a></p>
          <hr>
          <h3>Källor</h3>
          <ul class="sources">
            <li><small>1. <a href="http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/vegetarisk-meny/">http://liseberg.se/sv/hem/mat/restauranger/The-Green-Room/vegetarisk-meny</a></small></li>
            <li><small>2.<a href="http://vegoriket.se/2014/04/helvegetarisk-restaurang-oppnar-pa-liseberg/">http://vegoriket.se/2014/04/helvegetarisk-restaurang-oppnar-pa-liseberg</a></small></li>
          </ul>

        </div>
        <div class="col-sm-4 sidebar">
          <div class="actions">
            <div class="row">
              <div class="col-lg-6">
                <a href="#" class="btn btn-like"><span class="glyphicon glyphicon-heart-empty"></span> Uppskatta <span class="count">47</span></a>
              </div>
              <div class="col-lg-6">
                <a href="#" class="btn btn-edit"><span class="glyphicon glyphicon-pencil"></span> Föreslå ändring</a>
              </div>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item heading">
              <div class="row">
                <div class="col-xs-4 col-sm-12 col-md-4">
                  <a href="#"><img src="uploads/liseberg.jpg" class="avatar"></a>
                </div>
                <div class="col-xs-8 col-sm-12 col-md-8">
                  <small>Publicerat av</small>
                  <a href="#"><h3 class="list-group-item-heading">Liseberg</h3></a>
                  <span class="desc">Liseberg är en nöjespark belägen i stadsdelen Heden i Göteborg. Parken drivs som ett aktiebolag, helägt av Göteborgs kommun.</span>
                </div>
              </div>
            </li>
          </ul>
          <div id="results" class="xs">
            <h4>Relaterat</h4>
            <div class="row">
              <div class="col-md-12 resultContainer">
                <div class="fetchHeight">
                  <div class="result">
                    <div class="row">
                      <div class="col-md-5">
                        <img src="uploads/veganskt-godis.jpg">
                      </div>
                      <div class="col-md-7">
                        <div class="content">
                          <strong><a href="#">Lista på veganskt godis</a></strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 resultContainer">
                <div class="fetchHeight">
                  <div class="result">
                    <div class="row">
                      <div class="col-md-5">
                        <img src="uploads/vegansk-choklad.jpg">
                      </div>
                      <div class="col-md-7">
                        <div class="content">
                          <strong><a href="#">Vegansk choklad</a></strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 resultContainer">
                <div class="fetchHeight">
                  <div class="result">
                    <div class="row">
                      <div class="col-md-5">
                        <img src="uploads/gelatin.jpg">
                      </div>
                      <div class="col-md-7">
                        <div class="content">
                          <strong><a href="#">Vad är gelatin?</a></strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="well">
            <h4>Hittar du inte det du söker efter?</h4>
            <p>Använd sökfältet eller ställ frågan på <a href="#">Facebook</a> i gruppen för vegetarianer och veganer.</p>
            </div>
          </div>
        </div>
      </div>

    </article>
  </div>

<% include includes/footer %>