<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Villkor</h1>

						<hr>
						
					    <h3 id="1">Konto</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, in, cum. Nisi sed illo velit aliquam eum obcaecati sunt fugiat nobis ex, iste, quia, dignissimos eos vitae quis debitis aut.</p>

						<hr>

					    <h3 id="2">Upphovsrätt</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat est recusandae quo quibusdam dolorem id accusamus quis tempora voluptatibus. Placeat est numquam quasi, iure dolor rerum maxime totam aspernatur enim.</p>
						
					</section>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>