<% include includes/header %>

	<div class="container">
		<article>

			<div class="row">
				<div class="col-sm-8">
					<section>
						<h1>Villkor</h1>

						<hr>
						
					    <h3 id="1">Konto</h3>
						<p>Om ditt konto antas bryta mot villkoren eller misstänks ha i syfte att förstöra användarupplevelsen på Vegosvar.se har Vegosvar rätten att permanent stänga av kontot, samt sidor associerade till det kontot.</p>

						<hr>

					    <h3 id="3">Upphovsrätt</h3>
						<p>Du godkänner att ansvara själv över materialet som postas av dig på Vegosvar. Det innehåll som publiceras blir i regel licensierat under <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.sv">CC0</a> om ingen annan licenstyp är vald. Det är ditt ansvar att försäkra dig om att materialet får postas under vald licenstyp. Material som bryter mot upphovsrätt resulterar i borttagning av det konto som laddat upp det.</p>
						
					</section>
				</div>
			</div>

		</article>
	</div>

<% include includes/footer %>