<% include ../partials/header %>
    <!-- Ch-ch-ch-ch-changes! -->
    <div class="container">
        <section id="main">
            <div class="row">
                <div class="col-md-2">
                  <% include template_parts/sidebar %>
                </div>
                <div class="col-md-10">
                    <article>
                        <h1 class="no-margin-top">Revisioner</h1>
                        <h2 class="subtitle">Nya och uppdaterade sidor</h2>
                        <table class="table table-striped table-bordered table-hover datatable">
                          <thead>
                            <th>
                              Sida
                            </th>
                            <th class="sort-default" data-order="desc">
                              Senast uppdaterad
                            </th>
                            <th>
                              Skapad
                            </th>
                            <th>
                              Status
                            </th>
                          </thead>
                          <tbody>
                            <% if(typeof(changes) !== 'undefined') {
                              if(changes.length > 0) {
                                  for(i=0;i < changes.length;i++) { %>
                                    <tr>
                                      <td>
                                        <a href="<%= (changes[i].delete === true) ? '/admin/borttagning/' + changes[i].id : '/admin/revisioner/' + changes[i].url %>"><%= changes[i].title %></a>
                                      </td>
                                      <td>
                                        <span class="date_updated"><%= changes[i].updated %></span>
                                      </td>
                                      <td>
                                        <span class="date_created"><%= changes[i].created %></span>
                                      </td>
                                      <td>
                                        <% if(changes[i].delete === true) { %>
                                            <span class="label label-danger">Radera</span>
                                          <% } else {
                                            if(changes[i].revisions == 1) { %>
                                              <span class="label label-success">Ny</span>
                                            <% } else { %>
                                              <span class="label label-warning">Uppdatering</span>
                                            <% }
                                        } %>
                                      </td>
                                    </tr>
                                  <% }
                                } else { %>
                                  <h3>Alla sidor är modererade!</h3>
                                <% }
                            } %>
                          </tbody>
                        </table>
                    </article>
                </div>
            </div>
        </section>
    </div>

<% include ../partials/footer %>