<% include ../partials/header %>

<div class="container">
  <section id="main">
    <div class="row">
      <div class="col-md-2">
        <% include partials/sidebar %>
      </div>
      <div class="col-md-10">
        <article>
          <% if('removed' in page && page.removed === true) { %>
            <h2 class="no-margin-top">
              <a href="/<%= page.url %>"><%= page.title %></a>
              är redan borttagen</h2>
          <% } else { %>
            <h2 class="no-margin-top">Ta bort sida
              <a href="/<%= page.url %>"><%= page.title %></a>
            </h2>

            <div>
              <button id="reject" class="btn btn-success" data-id="<%= page._id %>">Neka begäran</button>
              <button id="delete" class="btn btn-danger" data-id="<%= page._id %>">Bekräfta</button>
            </div>
            <div style="margin-top:15px">
              <div id="message" class="alert" style="display:none"></div>
            </div>
          <% } %>
        </article>
      </div>
    </div>
  </section>
</div>

<% include ../partials/footer %>