<% include ../includes/header %>

<div class="container">
    <section id="main">
        <div class="row">
            <div class="col-md-2">
                <% include template_parts/sidebar %>
            </div>
            <div class="col-md-10">
                <article>
                    <h2 class="no-margin-top">Ta bort sida <a href="/<%= page.url %>"><%= page.title %></a></h2>

                    <div>
                        <button id="reject" class="btn btn-success" data-id="<%= page._id %>">Neka begäran</button>
                        <button id="delete" class="btn btn-danger" data-id="<%= page._id %>">Bekräfta</button>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function() {
        $('#delete').on('click', function(e) {
            var id = $(e.target).data('id')
            console.log('/admin/ajax/admin/delete/' + id)

            $.ajax({
                url: '/ajax/admin/delete/' + id
            })
            .done(function(result) {
                console.log(result)
            })
        })
    })
</script>

<% include ../includes/footer %>