<% include ../partials/header %>

<div class="container">
  <section id="main">
    <div class="row">
      <div class="col-md-2">
        <% include partials/sidebar %>
      </div>
      <div class="col-md-10">
        <article>
          <h1 class="no-margin-top">Inställningar</h1>

          <h2>Instagram</h2>
          <div>
            <% if(typeof(instagram) !== 'undefined') { %>
              <strong>Access token senast uppdaterad:
              </strong>
              <p><%= instagram %></p>
            <% } else { %>
              <strong>Ingen access token finns!</strong>
              <p>Klicka på
                <em>Generera Access Token</em>
                för att skapa en!</p>
            <% } %>
          </div>
          <div>
            <a href="/admin/auth/instagram" class="btn btn-primary">Generera Access Token</a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<% include ../partials/footer %>