<h2>Video</h2>
<p>Visa en YouTube video på hur receptet tillagas</p>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
          <div class="input-group video">
              <span class="input-group-addon">Youtube länk</span>
              <input class="form-control" id="youtube-video" name="video" type="text" value="" />
          </div>
          <div class="input-desc">Ex: <code>http://www.youtube.com/watch?v=JNsKvZo6MDs</code></div>
      </div>
    </div>
    <div class="col-sm-12">
        <div id="player-container">
            <div id="player"></div>
        </div>
    </div>
</div>