<% include ../includes/header %>

    <div class="container">
        <section id="main">
            <% include includes/errors.ejs %>
            <div class="row">
                <div class="col-md-8">
                    <article>
                        <h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Nytt café' %></h1><br>

                        <form action="/submit" method="post">

                            <input type="hidden" name="type" value="6">
                            <input type="hidden" name="id" value="<%= (typeof(post) !== 'undefined') ? post._id : '' %>">

                            <% include includes/template_parts/imageupload %>

                            <% include includes/template_parts/title %>

                            <% include includes/template_parts/chain %>

                            <% include includes/editor %>

                            <% include includes/template_parts/location %>

                            <% include includes/template_parts/contact %>

                            <% include includes/template_parts/openhours %>

                            <h2>
                                <span class="glyphicon glyphicon-cutlery"></span>
                                Utbud
                            </h2>
                            <div class="radio">
                                <label class="text-muted">
                                    <input type="radio" name="veg_offer" value="Veganskt går att ordna" <%= (typeof(post) !== 'undefined' && post.post.veg_offer == 'Veganskt går att ordna') ? 'checked=checked' : '' %>>
                                    Veganskt går att ordna
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_offer" value="Veganskt finns på menyn" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_offer == 'Veganskt finns på menyn') ? 'checked=checked' : '' ) : 'checked=checked' %>>
                                    Veganskt finns på menyn
                                </label>
                            </div>
                            <div class="radio">
                                <label class="text-success">
                                <strong>
                                    <input type="radio" name="veg_offer" value="Endast veganskt på menyn" <%= (typeof(post) !== 'undefined' && post.post.veg_offer == 'Endast veganskt på menyn') ? 'checked=checked' : '' %>>
                                    100% veganskt
                                </strong>
                                </label>
                            </div>

                            <% include includes/template_parts/other %>
                            <% include includes/template_parts/license %>
                            <hr>
                            <% include includes/template_parts/submit %>
                        </form>
                    </article>

                    <% include includes/template_parts/remove %>
                </div>
                <div class="col-md-4">
                    <aside>
                        <% include includes/sidebar %>
                    </aside>
                </div>
            </div>

        </section>
    </div>

<% include includes/filepush %>
<% include ../includes/footer %>