<% include ../includes/header %>

    <div class="container">
        <section id="main">
            <% include includes/errors.ejs %>
            <div class="row">
                <div class="col-md-8">
                    <article>
                        <h1><%= (typeof(post) !== 'undefined') ? 'Redigera: ' + post.title : 'Ny produkt' %></h1><br>

                        <form action="/submit" class="validate-me" method="post">

                            <input type="hidden" name="type" id="submit-type" value="4">
                            <input type="hidden" name="id" value="<%= (typeof(post) !== 'undefined') ? post._id : '' %>">

                            <% include includes/template_parts/imageupload %>

                            <% include includes/template_parts/title %>

                            <% include includes/editor %>

                            <h2>Innehåll</h2>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="animal" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'animal') ? 'checked=checked' : '' %>>
                                    Animalisk
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="lacto_ovo" <%= (typeof(post) !== 'undefined' && post.post.veg_type == 'lacto_ovo') ? 'checked=checked' : '' %>>
                                    Lakto-ovo vegetarisk
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="veg_type" value="vegan" <%= (typeof(post) !== 'undefined') ? ( (post.post.veg_type == 'vegan') ? 'checked=checked' : '' ) : 'checked=checked' %>>
                                    Vegansk
                                </label>
                            </div>

                            <h2>Typ av produkt</h2>
                            <div class="row">
                                <% if(typeof(categories) !== 'undefined') {
                                    for(var key in categories) {
                                        var category = categories[key] %>
                                        <div class="col-xs-12 col-sm-4">
                                            <h3 style="text-transform:capitalize"><%= category._id %></h3>
                                            <% for(i=0;i<category.names.length;i++) {
                                                var isChecked = (typeof(post) !== 'undefined') ? ( (post.post.product_type == category.names[i].name) ? 'checked=checked' : '' ) : (category.names[i].name == 'annat') ? 'checked=checked' : ''
                                                %>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="product_type" value="<%= category.names[i].name %>" <%= isChecked %> />
                                                        <span class="product_name" style="text-transform:capitalize"><%= category.names[i].name %></span>
                                                    </label>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% }
                                } %>
                            </div>

                            <h2>Tillverkare</h2>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Företag</span>
                                        <input type="text" class="form-control" name="manufacturer">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Hemsida</span>
                                        <input type="text" class="form-control" name="manufacturer_website">
                                    </div>
                                </div>
                            </div>

                            <% include includes/template_parts/other %>

                            <% include includes/template_parts/license %>

                            <hr>

                            <% include includes/template_parts/submit %>
                        </form>
                    </article>

                    <% include includes/template_parts/remove %>
                </div>
                <div class="col-md-4">
                    <aside>
                        <% include includes/sidebar %>
                    </aside>
                </div>
            </div>

        </section>
    </div>

<% include includes/filepush %>
<% include ../includes/footer %>