
// Variables

@brand-color:			#00a651;
@brand-font:			'Open Sans', sans-serif;
@serif-font: 			'Fenix', serif;

@green:					@brand-color;
@yellow:				#ffd23a;
@blue:					#236FAF;
@red:					#d04c4c;
@pink:					#F95376;
@orange:				#F69424;

@recipe:				@pink;
@restaurant:			#694E8C;
@store:					#FB8B11;
@product:				@blue;

@xs:					768px;
@sm:					992px;
@md:					1199px;




// Template

body {
	font-family: @brand-font;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	font-size: 15px;
	line-height: 1.55;
	background: #f5f5f5;
	strong {
		font-weight: 700;
	}
}




// Typography

a {
	color: @brand-color;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: darken(@brand-color, 5%);
	}
}

h1 {
	margin-top: 0;
	color: #333;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 15px;
	line-height: 1.2;
	@media (max-width: @xs) {
		font-size: 27px;
	}
}

h2 {
	margin-top: 30px;
	font-size: 28px;
	margin-bottom: 15px;
	@media (max-width: @xs) {
		font-size: 24px;
	}
	.glyphicon {
		font-size: 20px;
		position: relative;
		top: -2px;
	}
}

h3 {
	margin-top: 30px;
	font-weight: 700;
	line-height: 1.3;
	font-size: 18px;
	margin-bottom: 10px;
}

p {
	margin-bottom: 15px;
}

.preamble {
	font-size: 19px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.list-group {
	.glyphicon {
		margin-right: 5px;
	}
}

.glyphicon {
	&.standout {
		margin-right: 5px;
	}
}

.modal-content {
	box-shadow: none;
	border: none;
}

.truncate {
	display: block;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}




// Common elements

img {
	width: 100%;
	height: auto;
}

.no-top {
	margin-top: 0;
}

.text-center-xs {
	@media (max-width: @xs) {
		text-align: center;
	}
}

.alert {
	font-size: 17px;
	padding: 20px 30px;
	border-radius: 5px;
	border: none;
	.glyphicon {
		margin-right: 5px;
	}
	&.alert-success {
		color: @green;
	}
	&.alert-warning {
		color: @orange;
	}
	&.alert-info {
		color: @blue;
		a {
			color: @blue;
			border-color: @blue;
		}
	}
	a {
		display: inline-block;
		color: #fff;
		padding: 5px 10px;
		border-radius: 3px;
		border: 1px solid #fff;
		margin-left: 15px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.well {
	border: none;
	box-shadow: none;
	background: #fff;
	h1, h2, h3 {
		margin-top: 0;
	}
	.btn {
		margin-bottom: 0;
	}
}

.flag {
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	&.flag-success {
		color: @green;
		border-bottom: 1px solid @green;
	}
	&.flag-info {
		color: @blue;
		border-bottom: 1px solid @blue;
	}
	&.flag-warning {
		color: @red;
		border-bottom: 1px solid @red;
	}
}

hr {
	margin: 30px 0;
	&.lg {
		margin: 40px -20px;
	}
}

.btn {
	border: none;
	transition: background 0.2s;
	padding: 12px 20px;
	&.btn-xs {
		padding: 6px 10px;
	}
	&.lg {
		font-size: 17px;
		margin-bottom: 15px;
		@media (max-width: @xs) {
			padding: 15px 20px;
			width: 100%;
		}
	}
	.glyphicon {
		margin-right: 5px;
		&.right {
			margin-right: 0;
			margin-left: 5px;
		}
	}
	&:active, &:focus {
		box-shadow: none;
	}
	&.btn-hero {
		background: #fff;
		color: @brand-color;
		border: 1px solid #fff;
		font-size: 17px;
		border-radius: 3px;
		margin-bottom: 15px;
		transition: opacity 0.15s;
		&:hover {
			opacity: 0.9;
		}
	}
	&.btn-primary {
		background: @brand-color;
		color: #fff;
		&:hover {
			background: darken(@brand-color, 3%);
		}
		&:active {
			background: darken(@brand-color, 8%);
		}
	}
	&.btn-fb {
		background: #3c5a99;
		color: #fff;
		img {
			width: 22px;
			height: 22px;
			position: relative;
			top: -1px;
			left: -6px;
		}
		&:hover {
			background: darken(#3c5a99, 3%);
		}
		&:active {
			background: darken(#3c5a99, 8%);
		}
	}
	&.btn-edit {
		background: @blue;
		color: #fff;
		&:hover {
			background: darken(@blue, 3%);
		}
		&:active {
			background: darken(@blue, 8%);
		}
	}
	&.btn-toolbar {
		background: #444;
		color: #fff;
		margin: 0;
		margin-bottom: 15px;
		&:hover {
			background: #333;
		}
		&:active {
			background: #222;
		}
		.glyphicon {
			margin: 0;
		}
	}
	&.btn-add {
		background: @blue !important;
		color: #fff !important;
		margin-left: -2px;
		.glyphicon {
			margin: 0;
		}
		&:hover {
			background: darken(@blue, 3%) !important;
		}
		&:active {
			background: darken(@blue, 8%) !important;
		}
	}
	&.btn-like {
		background: @pink;
		color: #fff;
		&:hover {
			background: darken(@pink, 3%);
		}
		&:active {
			background: darken(@pink, 8%);
		}
		.count {
			display: inline-block;
			background: #fff;
			color: @red;
			border-radius: 30px;
			padding: 4px 7px;
			line-height: 1;
			margin-left: 5px;
			font-size: 11px;
		}
	}
	&.btn-secondary {
		background: none;
		color: @brand-color;
		border: 1px solid @brand-color;
		padding: 10px 17px;
	}
}

.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
}

input {
	-webkit-appearance: none;
	&[type=checkbox] {
		-webkit-appearance: checkbox;
	}
	&[type=radio] {
		-webkit-appearance: radio;
	}
}

.input-desc {
	font-size: 12px;
	opacity: 0.7;
	margin-top: -5px;
	margin-bottom: 15px;
}


textarea {
	min-height: 150px;
	-webkit-appearance: none;
}

button {
	&:active, &:focus {
		outline: none !important;
	}
}


.input-group {
	width: 100%;
	margin-bottom: 15px;
	.input-group-addon {
		border: none;
		box-shadow: none;
		background: #dfdfdf;
		color: #333;
		padding: 12px 17px;
		a .glyphicon {
			color: #888;
			&:hover {
				color: #666;
			}
		}
	}
	.form-control {
		border: none;
		border: 2px solid #dfdfdf;
		padding: 12px 17px;
		height: auto;
		color: #111;
		box-shadow: none;
		&:focus {
			border: 2px solid @blue;
		}
	}
}

.circle {
	border-radius: 1000px;
}

.no-margin {
	margin: 0;
}

.no-margin-top {
	margin-top: 0;
}

.panel {
	box-shadow: none;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
	border: none;
	background: #FCFCFC;
	.panel-heading {
		background: @blue;
		padding: 10px 15px;
		border: none;
		color: #fff;
	}
}

.table {
	thead tr th {
		border: none;
		background: rgba(0, 0, 0, 0.05);
	}
}

.small-xs {
	@media (max-width: @xs) {
		font-size: 13px;
	}
}

input[type=checkbox], input[type=radio] {
	margin: 6px 0 0;
}



// Template

.sidebar {
	margin-bottom: 30px;
	h2, h3 {
		margin-top: 0;
	}
}

.card {
	padding: 15px;
	background: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
	overflow: hidden;
	&.transparent {
		background: none;
		@media (max-width: @xs) {
			padding: 0 15px;
			margin-bottom: 30px;
		}
	}
	.info {
		padding-left: 0;
		small {
			display: block;
			position: relative;
			margin-top: -4px;
			color: #999;
		}
		h3 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		a {
			color: #111;
		}
		.description {
			font-size: 13px;
			line-height: 1.4;
			display: block;
		}
	}
}

.glyphicon {
	&.yellow {
		color: @yellow;
	}
	&.blue {
		color: @blue;
	}
}

nav {
	&#top {
		margin-bottom: 0;
		background: @brand-color;
		border: none !important;
		z-index: 3;
		@media (max-width: @xs) {
			&.startpage {
				display: none;
			}
		}
		.navbar-right {
			margin: 0;
		}
		.navbar-header {
			margin: 0;
		}
		.navbar-toggle {
			border: none;
			transition: transform 0.15s;
			margin: 0;
			padding: 17px;
			&:hover, &:focus {
				background: none;
			}
			&:active {
				transform: scale(0.9);
			}
		}
		.navbar-collapse {
			border: none;
			box-shadow: none;
		}

		li {
			&.open > a {
				background-color: @brand-color !important;
			}
			a {
				color: #fff !important;
				transition: background 0.2s;
				font-weight: 600;
				font-size: 15px;
				padding: 17px 15px;
				transition: background 0s;
				@media (max-width: @md) {
					padding: 17px 10px;
					> .glyphicon {
						display: none;
					}
				}
				&:hover {
					background-color: darken(@brand-color, 5%) !important;
				}
				.glyphicon {
					position: relative;
					top: 0;
					font-size: 11px;
					padding: 0 3px;
				}
			}
			&.profile {
				img {
					position: relative;
					width: 30px;
					height: auto;
					margin-top: -15px;
					margin-bottom: -10px;
					margin-left: 5px;
					border-radius: 100%;
				}
			}
			&.dropdown {
				&:hover .dropdown-menu {
					display: block;
				}
				ul {
					background: darken(@brand-color, 2%);
					border: none;
					width:100%;
					box-shadow: none;
					padding: 0;
					li {
						&:last-child a {
							border-radius: 0 0 3px 3px;
						}
						a {
							display: block;
							padding: 10px 15px;
							font-size: 14px;
							text-transform: capitalize;
							&:focus {
								background: none;
							}
							span {
								margin-right: 7px;
							}
						}
					}
				}
			}
		}

		.search {
			margin-top: 0px;
			margin-bottom: 0px;
			border: none;
			padding: 7px 5px;
			@media (max-width: @xs) {
				padding: 0 5px 5px 5px;
			}
			input {
				background: #fff;
				border: none;
				box-shadow: none;
				padding: 9px 17px 10px 17px;
				height: auto;
				color: #333;
				border-radius: 2px;
				transition: background 0.2s, padding 0.2s;
				width: 285px;
				@media (max-width: @xs) {
					width: 100%;
					padding: 8px 17px;
					font-size: 13px;
				}
				@media (max-width: @md) {
					width: 260px;
				}
				@media (max-width: @sm) {
					width: 270px;
				}
			}
		}
		.logo {
			@media (max-width: @xs) {
				text-align: center;
			}
			img {
				width: 130px;
				margin-top: 15px;
				@media (max-width: @xs) {
					margin-bottom: 15px;
					width: 130px;
				}
			}
			&.startpage {
				img {
					@media (max-width: @xs) {
						display: none;
					}
				}
			}
		}
		.icon-bar {
			background: #fff !important;
		}
	}
	
	&#bottom {
		display: none;
		@media (max-width: @xs) {
			display: block;
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 3;
			box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.02);
			ul {
				padding: 0;
				overflow: hidden;
				margin-bottom: 0;
				li {
					list-style: none;
					float: left;
					width: 25%;
					text-align: center;
					z-index: 1;
					background: #111;
					a {
						display: block;
						padding: 10px 0 7px 0;
						color: #999;
						font-size: 11px;
						transition: color 0.15s;
						.glyphicon {
							display: block;
							font-size: 20px;
							margin-bottom: 3px;
						}
						&:active, &:focus {
							color: #fff;
						}
					}
					&.active {
						background: darken(@brand-color, 2%);
						color: #fff;
						> a {
							color: #fff;
						}
						ul {
							display: block;
						}
					}
					ul {
						position: fixed;
						padding-bottom: 110px;
						top: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						background: darken(@brand-color, 2%);
						z-index: -1;
						display: none;
						overflow: scroll;
						li {
							width: 100%;
							a {
								font-size: 18px;
								padding: 15px 0;
								color: #fff;
								background: darken(@brand-color, 2%);
								border-bottom: 1px solid darken(@brand-color, 4%);
								&:hover {
									color: #fff;
								}
								&:active, &:focus {
									color: #fff;
									background: darken(@brand-color, 4%);
								}
							}
							img {
								width: 100px;
								border-radius: 100%;
								margin-bottom: 15px;
							}
							&.title {
								font-size: 20px;
								font-weight: 700;
								padding: 30px 0 15px 0;
								color: #fff;
								background: @brand-color;
								text-transform: uppercase;
							}
							&.desc {
								padding: 0 20px;
								background: none;
								font-size: 13px;
								line-height: 1.4;
								&:before {
									display: inline-block;
									position: relative;
									margin-bottom: -10px;
									content: '';
									width: 0; 
									height: 0; 
									border-left: 15px solid transparent;
									border-right: 15px solid transparent;
									border-bottom: 15px solid #fff;
								}
								div {
									padding: 15px;
									border-radius: 5px;
									background: #fff;
									color: @brand-color;
								}
							}
							&.search {
								margin-top: 15px;
								padding: 0 15px;
								background: none;
							}
						}
					}
				}
			}
		}
	}
}


article {
	padding: 50px 30px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	@media (max-width: @xs) {
		padding: 50px 20px;
		margin: 0 -15px 30px -15px;
	}
	.content {
		position: relative;
		.stars {
			display: inline-block;
			@media (max-width: @xs) {
				margin-bottom: 15px;
			}
			.star {
				font-size: 16px;
				@media (max-width: @xs) {
					font-size: 20px;
				}
				&:before {
					top: -6px;
					margin-left: 1px;
					border-radius: 5px;
				}
			}
			.votes {
				top: -4px;
				.additional {
					display: inline-block;
					margin-left: 3px;
				}
			}
		}
	}
	.subtitle {
		font-size: 26px;
		color: #888;
		margin-top: -12px;
		margin-bottom: 15px;
		font-weight: 100;
		@media (max-width: @xs) {
			font-size: 20px;
			margin-bottom: 12px;
		}
	}
	.headerImage {
		display: block;
		position: relative;
		border-radius: 3px 3px 0 0;
		background: #fff;
		margin-top: -50px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: 30px;
		overflow: hidden;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
		@media (max-width: @xs) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom: 20px;
			border-radius: 0;
		}
		.license {
			display: block;
			padding: 1px 5px;
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 13px;
			background: #000;
			color: #fff;
			opacity: 0.7;
			border-radius: 3px 0 0 0;
			a {
				color: #fff;
			}
		}
	}
	#openhours {
		h2 {
			margin-top: 0;
			margin-bottom: 20px;
			@media (max-width: @xs) {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
	#location {
		img {
			width: 100px;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		.street {
			font-size: 16px;
			margin-bottom: 15px;
		}
	}
}


.actions {
	overflow: hidden;
	margin-bottom: 30px;
	.col-lg-6:first-child {
		padding-right: 7.5px;
		@media (max-width: @md) {
			padding-right: 15px;
		}
	}
	.col-lg-6:last-child {
		padding-left: 7.5px;
		@media (max-width: @md) {
			padding-left: 15px;
		}
	}
	.btn {
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}
}

aside {
	padding: 40px 30px;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	@media (max-width: @xs) {
		padding: 50px 15px;
		margin: 0 -15px 30px -15px;
	}
	td, th {
		padding: 12px 0 !important;
	}
}

aside {
	h2 {
		margin-top: 0;
	}
}

section {
	&#main {
		margin: 50px 0;
		display: block;
		@media (max-width: @xs) {
			margin: 0 0 70px 0;
		}
		.sources {
			padding: 0;
			li {
				list-style: none;
				margin-bottom: 5px;
				a {
					padding-left: 5px;
				}
			}
		}
		.new {
			overflow: hidden;
			margin-bottom: -30px;
			@media (max-width: @xs) {
				margin-top: 50px;
			}
			.category {
				display: block;
				width: 100%;
				padding: 13px 20px;
				color: #fff;
				float: left;
				background: #eee;
				margin-bottom: 15px;
				border-radius: 3px;
				transition: background 0.2s, transform 0.2s;
				font-size: 18px;
				.cat {
					position: relative;
					top: 2px;
					font-size: 18px;
					margin-right: 10px;
				}
				.chevron {
					position: relative;
					top: 6px;
					font-size: 16px;
					float: right;
				}
				&:active {
					transform: scale(0.97);
				}
				&.fact {
					background: @brand-color;
					&:hover {
						background: darken(@brand-color, 3%);
					}
				}
				&.restaurant {
					background: @restaurant;
					&:hover {
						background: darken(@restaurant, 3%);
					}
				}
				&.store {
					background: @store;
					&:hover {
						background: darken(@store, 3%);
					}
				}
				&.recipe {
					background: @recipe;
					&:hover {
						background: darken(@recipe, 3%);
					}
				}
				&.product {
					background: @product;
					&:hover {
						background: darken(@product, 3%);
					}
				}
			}
		}
	}
}


#heroSearch {
	background-color: @brand-color;
	background-position: center center;
	background-size: cover;
	padding: 150px 0 180px 0;
	color: #fff;
	@media (max-width: @xs) {
		padding: 40px 0 40px 0;
		margin-bottom: 0px;
	}

	.logo img {
		width: 170px;
		margin-bottom: 20px;
	}

	@media (min-width: @xs) { // Only transitions on desktop
		&.transition {
			transition: padding 0.8s;
			.intro {
				transition: margin-bottom 0.8s;
				h1 {
					transition: font-size 0.8s, opacity 0.8s;
				}
			}
		}
	}

	&.contracted {
		padding: 10px 0 30px 0;
		@media (max-width: @xs) {
			padding: 15px 0 0 0;
		}
		.logo img {
			width: 150px;
			margin-bottom: 15px;
		}
		.intro {
			margin-bottom: 0;
			img {
				width: 40px;
			}
			h1 {
				font-size: 0px !important;
				opacity: 0;
			}
		}
		.searchTips {
			@media (max-width: @xs) {
				display: none !important;
			}
		}
	}

	.searchEngine {
		width: 560px;
		margin: 0 auto 15px auto;
		transition: transform 0.15s;
		&:active {
			@media (min-width: @xs) {
				transform: scale(0.98);
			}
		}
		@media (max-width: @xs) {
			width: 100%;
		}
		input {
			font-size: 18px;
			font-weight: 400;
			padding: 20px 25px !important;
			background: #fff;
			border-radius: 5px 0 0 5px;
			box-shadow: none;
			border: none !important;
			color: #111;
			@media (max-width: @xs) {
				padding: 15px 0 15px 20px !important;
				font-size: 16px;
				max-height: 52px;
			}
		}
		button {
			font-size: 18px;
			font-weight: 700;
			padding: 20px 25px;
			background: #fff;
			border-radius: 0 5px 5px 0;
			box-shadow: none;
			border: none;
			color: #333;
			transition: color 0.2s;
			@media (max-width: @xs) {
				padding: 15px 15px;
				font-size: 16px;
				max-height: 52px;
			}
			&:hover {
				background: #fff;
				color: lighten(#333, 30%);
			}
			@keyframes loading {
				0% { transform: rotate(-360deg); }
				100% { transform: rotate(360deg); }
			}
			.loading {
				width: 20px;
				height: 20px;
				animation: loading 2.5s infinite linear;
				@media (max-width: @xs) {
					width: 18px;
					height: 18px;
				}
			}
		}
	}

	.intro {
		margin-bottom: 40px;
		@media (max-width: @xs) {
			margin-bottom: 20px;
		}
		h1 {
			font-size: 62px;
			margin-bottom: 0;
			font-weight: 300;
			color: #fff;
			@media (max-width: @xs) {
				font-size: 23px;
				font-weight: 400;
			}
		}
	}

	p {
		margin-bottom: 0;
		font-size: 17px;
		@media (max-width: @xs) {
			font-size: 14px;
		}
	}

}

.stars {
	&:hover .star.active {
		color: #EC960B;
		&:hover {
			color: #EC960B;
		}
		&:active {
			color: #F1AE00;
		}
	}
	.star {
		color: #DEDEDE;
		transition: transform 0.15s, color 0.15s;
		cursor: pointer;
		font-size: 13px;
		display: inline-block;
		position: relative;
		padding: 4px 1px;
		&:before {
			opacity: 0;
			display: block;
			position: absolute;
			color: #888;
			top: -7px;
			left: 1px;
			font-size: 8px;
			transition: opacity 0.15s, color 0.15s;
			white-space: nowrap;
		}
		&:nth-child(1):before { content: 'Dåligt'; 	left: -3px; }
		&:nth-child(2):before { content: 'Sådär'; 	left: -3px; }
		&:nth-child(3):before { content: 'Helt ok'; left: -6px; }
		&:nth-child(4):before { content: 'Bra'; } 	left: -1px;
		&:nth-child(5):before { content: 'Superbra';left: -9px; }
		&.active {
			color: #EC960B;
		}
		&:hover {
			transform: scale(1.5);
			color: #EC960B;
			&:before {
				opacity: 1;
				@media (max-width: @xs) {
					opacity: 0;
				}
			}
		}
		&:active {
			transform: scale(1.7);
			color: #F1AE00;
			&:before {
				color: #F1AE00;
			}
		}
	}
	.votes {
		display: inline-block;
		position: relative;
		margin-left: 3px;
		font-size: 11px;
		color: #C9C9C9;
		border: 1px solid #C9C9C9;
		border-radius: 50px;
		padding: 1px 7px 2px 7px;
		.additional {
			display: none;
			@media (max-width: @xs) {
				display: inline-block;
				margin-left: 3px;
			}
		}
	}
}


#results {
	position: relative;
	margin: 60px 0;
	display: none;
	@media (max-width: @xs) {
		margin-bottom: 0px;
		margin: 15px 0 30px;
	}
	h2 {
		margin-top: 0px;
		margin-bottom: 25px;
		@media (max-width: @xs) {
			font-size: 14px;
			margin-bottom: 15px;
			text-align: center;
		}
	}
}
.result {
	height: 330px;
	margin-bottom: 30px;
	position: relative;
	background: #fff;
	color: #333;
	overflow: hidden;
	@media (max-width: @xs) {
		height: auto;
		margin-bottom: 15px;
	}

	.image {
		width: 100%;
		height: 138px;
		background-size: cover;
		background-position: center center;
		@media (max-width: @xs) {
			position: absolute;
			width: 30%;
			height: 100%;
			right: 0;
		}
	}
	.content {
		padding: 15px 20px 60px 20px;
		@media (max-width: @xs) { // TODO Make 100% wide when image is missing
			width: 70%;
			padding: 20px 20px 0 15px;
			margin-bottom: 15px;
		}
		.text-overflow {
			height: 110px;
			overflow: hidden;
			@media (max-width: @xs) {
				height: 105px;
				margin-bottom: 40px;
			}
		}
		a {
			color: #333;
		}
		h3 {
			font-weight: 700;
			margin: 0;
			line-height: 1.3;
			font-size: 18px;
			margin-bottom: 7px;
			@media (max-width: @xs) {
				margin-top: -4px;
			}
		}
		p {
			margin-bottom: 0;
			font-size: 13px;
			line-height: 1.5;
			color: #444;
		}
	}
	.stars {
		position: absolute;
		bottom: 8px;
		left: 20px;
		@media (max-width: @xs) {
			left: 16px;
		}
		.votes {
			top: -1px;
			@media (max-width: @sm) {
				display: none;
			}
			@media (max-width: @xs) {
				display: inline-block;
			}
		}
	}
	.more {	
		position: absolute;
		right: 0;
		bottom: 0;
		@media (max-width: @xs) {
			position: relative;
			width: 70%;
		}
		.info {
			display: inline-block;
			float: left;
			padding: 10px 20px;
			color: #A7A7A7;
			font-size: 13px;
			@media (max-width: @xs) {
				padding: 0 20px 20px 20px;
			}
			&.success {
				color: @brand-color;
			}
			&.warning {
				color: @red;
			}
		}
		.btn {
			display: inline-block;
			float: right;
			padding: 10px 18px;
			border-radius: 0;
			@media (max-width: @xs) {
				display: none;
			}
		}
	}
}


#map {
	width: 100%;
	height: 450px;
	margin-bottom: 60px;
	position: relative;
	@media (max-width: @xs) {
		height: 300px;
	}
	.filter {
		position: absolute;
		background: @pink;
		opacity: 0.9;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 30px;
		border-radius: 3px;
		color: #fff;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		h2 {
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 40px;
			font-weight: 100;
			@media (max-width: @xs) {
				font-size: 35px;
			}
		}
		h3 {
			margin-top: 0;
			margin-bottom: 30px;
			font-weight: 400;
		}
		.btn-hero {
			color: @pink;
			margin-bottom: 0;
		}
	}
}

#handpicked {
	margin: 60px 0 30px 0;
	@media (max-width: @xs) {
		margin: 30px 0;
	}
	h2 {
		margin-top: 0px;
		margin-bottom: 25px;
		@media (max-width: @xs) {
			margin-bottom: 20px;
			text-align: center;
		}
	}
}



#pages {
	border-top: 2px solid rgba(0,0,0,0.05);
	padding: 60px 0;
	color: #0f0805;
	h2 {
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 10px;
		display: inline-block;
		border-bottom: 2px solid #333;
	}
	.pagelist {
		margin-bottom: 30px;
		.glyphicon {
			position: relative;
			top: -1px;
			margin-right: 3px;
			font-size: 20px;
		}
		.item {
			list-style: none;
			padding: 10px 0 10px 0;
			&.lg {
				.image {
					padding-right: 15px;
					margin-bottom: 15px;
				}
			}
			a {
				font-size: 18px;
				font-weight: 700;
				line-height: 1.2;
				color: #333;
				&:hover {
					color: @brand-color;
				}
			}
			p {
				margin: 0;
			}
			.image {
				padding-right: 0;
			}
			.date {
				color: #888;
				font-size: 12px;
				display: block;
				line-height: 1;
				@media (max-width: @xs) {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}
}



#promotion {
	color: #fff;
	padding: 100px 0;
	&.create {
		background: @blue;
		.btn {
			color: @blue;
		}
	}
	@media (max-width: @xs) {
		padding: 60px 0 80px 0;
	}
	.logo {
		display: inline-block;
		position: relative; 
		width: 170px; 
		top: -4px;
		@media (max-width: @xs) {
			width: 240px;
			top: 5px;
			left: -5px;
		}
	}
	h2 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 40px;
		font-weight: 100;
		@media (max-width: @xs) {
			font-size: 35px;
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 60px;
		font-weight: 400;
	}
	#items {
		@media (max-width: @xs) {
			border-radius: 4px;
			overflow: hidden;
		}
		.item {
			background: #fff;
			color: #222;
			border-radius: 3px;
			margin-bottom: 30px;
			padding: 20px 20px 20px 15px;
			@media (max-width: @md) {
				padding: 10px 20px 10px 15px;
			}
			@media (max-width: @sm) {
				text-align: center;
				padding: 20px;
			}
			@media (max-width: @xs) {
				text-align: left;
				padding: 10px 20px;
				margin-bottom: 0;
				border-radius: 0;
				border-bottom: 1px solid #eee;
			}
			h3 {
				font-weight: 600;
				margin-top: 17px;
				margin-bottom: 10px;
				@media (max-width: @sm) {
					margin-top: 0;
				}
				@media (max-width: @xs) {
					margin-top: 15px;
				}
			}
			p {
				@media (max-width: @xs) {
					font-size: 13px;
				}
			}
			img {
				background: #fff;
				padding: 0 0 5px 10px;
				@media (max-width: @md) {
					margin-top: 20px;
					padding-left: 0;
					margin-left: 5px;
				}
				@media (max-width: @sm) {
					margin-bottom: 15px;
					padding: 0 15px;
				}
				@media (max-width: @xs) {
					padding: 0;
				}
			}
		}
	}
	.action {
		margin-top: 30px;
	}
}


#toolbar {
	margin: 0;
	background: #666;
	border-radius: 3px 3px 0 0;
	overflow: hidden;
	@media (max-width: @xs) {
		padding: 3px 3px 0px 3px;
	}
	li {
		margin: 0;
		padding: 0;
		.btn {
			border-radius: 0;
			margin: 0;
			@media (max-width: @xs) {
				padding: 7px 9px;
				margin-bottom: 3px;
				border-radius: 3px;
				font-size: 12px;
			}
		}
	}
}

#uploader {
	border: 2px dashed #dfdfdf;
	margin-bottom: 15px;
	padding: 30px 15px;
	&:hover {
		border: 2px dashed #C8C8C8;
	}
	&.finished {
		background-position: center center;
		background-size: cover;
		height: 400px;
		border: none;
	}
	> div {
		margin: 0;
		min-height: auto;
		.glyphicon {
			display: block;
			font-size: 35px;
			color: #dfdfdf;
			margin-bottom: 15px;
		}
		h2 {
			margin-top: 0;
		}
		.info {
			display: block;
			color: #888;
			font-size: 12px;
		}
		.btn {
			margin-top: 15px;
		}
		.dz-image {
			border-radius: 3px;
		}
	}
}

#editor {
	border: 2px solid #dfdfdf;
	border-top: none;
	padding: 15px;
	transition: border 0.15s;
	&:focus {
		border: 2px solid #C8C8C8;
		border-top: 0;
		outline: none !important;
	}
}



.footer {
	background: #111;
	padding: 100px 0;
	color: #fff;
	@media (max-width: @xs) {
		text-align: center;
		padding: 60px 0 120px 0;
	}
	.facebook {
		display: inline-block;
		img {
			width: 230px;
			margin-bottom: 25px;
		}
	}
	h3 {
		margin-top: 0;
		display: inline-block;
		padding-bottom: 8px;
		margin-bottom: 15px;
		border-bottom: 2px solid #fff;
		@media (max-width: @xs) {
			margin-top: 30px;
		}
	}
	p {
		font-size: 18px;
		font-weight: 300;
	}
	em {
		font-size: 15px;
	}
	a {
		color: #fff;
		display: block;
		padding: 2px 0;
		transition: opacity 0.2s;
		&:hover {
			opacity: 0.6;
		}
	}
}


// Misc

.glyphicon.glyphicon-star-empty {
	opacity: 0.3;
}