/* Utvecklat av Per Lööv, David Marby & Jeremy Gallant */
body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  background: #f5f5f5;
}
@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}
body strong {
  font-weight: 700;
}
a {
  color: #00a651;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #008d45;
}
h1 {
  margin-top: 0;
}
h2 {
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
  line-height: 1.3;
}
p {
  margin-bottom: 15px;
}
img {
  width: 100%;
  height: auto;
}
.well {
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}
hr {
  margin: 30px 0;
}
.preamble {
  font-size: 18px;
}
input:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #666;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #666;
}
.brandColor {
  color: #00a651;
}
.btn {
  border: none;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.btn.btn-secondary {
  background: none;
  color: #00a651;
  border: 1px solid #00a651;
  padding: 8px 15px;
}
.btn.btn-primary {
  background: #00a651;
  color: #fff;
  padding: 8px 15px;
}
.btn.btn-primary:hover {
  background: #00b558;
}
.navbar {
  margin-bottom: 0;
  background: #00a651;
  border: none !important;
}
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
.navbar .navbar-collapse {
  border: none;
}
.navbar li {
  background: #00a651;
}
.navbar li a {
  color: #fff !important;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.navbar li a:hover {
  background-color: #008d45 !important;
}
.navbar .logo {
  width: 130px;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .navbar .logo {
    padding-left: 15px;
  }
}
.navbar .icon-bar {
  background: #fff !important;
}
@-webkit-keyframes exampleOne {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0 ;
  }
  100% {
    opacity: 1;
  }
}
.singlepage {
  margin-top: 60px;
  margin-bottom: 60px;
}
#heroSearch {
  background: #00a651 url(../img/search_bg.svg);
  padding: 120px 0;
  margin-bottom: 60px;
  color: #fff;
}
@media (max-width: 768px) {
  #heroSearch {
    padding: 60px 0;
    margin-bottom: 0px;
  }
}
#heroSearch .intro {
  margin-bottom: 40px;
}
#heroSearch .intro h1 {
  font-size: 55px;
  margin-bottom: 15px;
  font-weight: 300;
}
@media (max-width: 768px) {
  #heroSearch .intro h1 {
    font-size: 30px;
  }
}
#heroSearch .searchEngine {
  width: 560px;
  margin: 0 auto 15px auto;
}
@media (max-width: 768px) {
  #heroSearch .searchEngine {
    width: 100%;
  }
}
#heroSearch .searchEngine input {
  font-size: 18px;
  font-weight: 400;
  padding: 0px 25px;
  background: #fff;
  border-radius: 50px 0 0 50px;
  box-shadow: none;
  border: none;
  min-height: 60px;
  color: #111;
}
#heroSearch .searchEngine button {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 25px;
  background: #fff;
  border-radius: 0 50px 50px 0;
  box-shadow: none;
  border: none;
  min-height: 60px;
  color: #00a651;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
#heroSearch .searchEngine button:hover {
  background: #fff;
  color: #007338;
}
#results {
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  #results {
    margin-bottom: 0px;
    padding: 30px 0px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #results .fetchHeight {
    height: auto !important;
  }
}
#results .resultContainer {
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  #results .resultContainer {
    margin-bottom: 15px;
  }
}
#results h2 {
  margin-top: 0px;
  margin-bottom: 25px;
}
#results .result {
  height: 100%;
  position: relative;
  background: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
#results .result .content {
  padding: 20px 20px 60px 20px;
}
#results .result .content a {
  color: #333;
}
#results .result .content h3 {
  font-weight: 700;
  margin: 0;
  line-height: 1.3;
  font-size: 18px;
}
#results .result .content p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
  color: #777;
}
#results .result .more {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #f5f5f5;
}
#results .result .more .info {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 11px 20px;
  color: #00a651;
  font-size: 13px;
}
#results .result .more .btn {
  display: inline-block;
  float: right;
  width: 50%;
  padding: 10px 15px;
  border-radius: 0;
}
.common {
  background: #EDEDED;
  padding: 60px 0;
  color: #0f0805;
}
.common h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
.common a {
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #0f0805;
  border-radius: 30px;
  color: #0f0805;
  margin-bottom: 15px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.common a:first-child {
  margin-left: 0;
}
.common a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.common .glyphicon {
  font-size: 20px;
  top: -1px;
  left: 5px;
  padding-right: 5px;
}
#newpost {
  margin-top: 30px;
}
#newpost input,
#newpost textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 8px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#newpost input:focus,
#newpost textarea:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.13) !important;
}
#newpost input.heading,
#newpost textarea.heading {
  font-size: 25px;
}
#newpost input.paragraph,
#newpost textarea.paragraph {
  font-size: 14px;
  margin-bottom: 0;
  min-height: 100px;
}
#newpost input.tags,
#newpost textarea.tags {
  font-size: 14px;
  margin-bottom: 5px;
}
#newpost .glyphicon {
  font-size: 15px;
}
#newpost .well h3 {
  margin-top: 0;
}
.footer {
  background: #090909;
  padding: 30px 0 60px 0;
  color: #fff;
}
.glyphicon.glyphicon-star-empty {
  opacity: 0.3;
}
