<h3>Övrigt</h3>
<div class="checkbox">
    <label>
        <input type="checkbox" name="hidden">
        Jag vill vara anonym
        <a href="/vanliga-fragor" target="_blank" title="Öppna i ny flik" class="small">Läs mer</a>
    </label>
</div>