<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <input type="text" placeholder="Rubrik" class="form-control title" id="header-input" name="title" autocomplete="off" aria-describedby="basic-addon1" value="<%= (typeof(post) !== 'undefined') ? post.title : '' %>">
        </div>
    </div>
</div>