<h2>Typ av produkt</h2>
<div class="row">
    <% if(typeof(categories) !== 'undefined') {
        for(var key in categories) {
            var category = categories[key] %>
            <div class="col-xs-12 col-sm-4">
                <h3 style="text-transform:capitalize"><%= category._id %></h3>
                <% for(i=0;i<category.names.length;i++) {
                    var isChecked = (typeof(post) !== 'undefined') ? ( (post.post.product_type == category.names[i].name) ? 'checked=checked' : '' ) : (category.names[i].name == 'annat') ? 'checked=checked' : ''
                    %>
                    <div class="radio">
                        <label>
                            <input type="radio" name="product_type" value="<%= category.names[i].name %>" <%= isChecked %> />
                            <span class="product_name" style="text-transform:capitalize"><%= category.names[i].name %></span>
                        </label>
                    </div>
                <% } %>
            </div>
        <% }
    } %>
</div>