<div class="row">
    <div class="col-sm-12">
    <p><button class="btn btn-primary lg form-submit"><%= (typeof(post) !== 'undefined') ? 'Uppdatera' : 'Skapa'%> sida</button><br>
    <small>Genom att skapa en sida går du med på <a href="/villkor" target="_blank">våra villkor</a></small></p>
    </div>
</div>