                  <ul class="list-group">
                    <li class="list-group-item list-group-head <% if(typeof active_page !== 'undefined' && active_page === 'index') { %> active <% } %>">
                      <a href="/admin">
                      	<span class="glyphicon glyphicon-dashboard"></span> 
                      	Översikt
                      </a>
                    </li>
                    <li class="list-group-item <% if(typeof active_page !== 'undefined' && active_page === 'users') { %> active <% } %>">
                      <a href="/admin/users">
                      	<span class="glyphicon glyphicon-user"></span> 
                      	Användare
                      </a>
                    </li>
                    <li class="list-group-item <% if(typeof active_page !== 'undefined' && active_page === 'settings') { %> active <% } %>">
                      <a href="/admin/installningar">
                        <span class="glyphicon glyphicon-cog"></span> 
                        Inställningar
                      </a>
                    </li>
                    <li class="list-group-item <% if(typeof active_page !== 'undefined' && active_page === 'changes') { %> active <% } %>">
                      <a href="/admin/uppdateringar">
                      	<span class="glyphicon glyphicon-time"></span> 
                      	Granska 
                      	<span class="label label-warning circle">
                      		<%= (typeof changes !== 'undefined' && changes.length > 0) ? changes.length : '' %>
                      	</span>
                      </a>
                    </li>
                  </ul>
