  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <p>
            <img alt="" src="/assets/images/vegosvar_icon.svg" style="width: 30px;"> 
            Enkla svar för vegointresserade
          </p>
        </div>
        <div class="col-sm-2 col-sm-offset-1 hidden-xs konto">
          <h3>Konto</h3>
          <% if (typeof user !== 'undefined') { %>
						<a href="/installningar">Inställningar</a>
						<a href="/mina-sidor">Mina sidor</a>
            <% if (typeof user.info.permission !== 'undefined' && (user.info.permission === "admin" || user.info.permission === "moderator")) { %>
              <a href="/admin">Administration</a>
            <% } %>
						<a href="/logga-ut">Logga ut</a>
          <% } %>
          <% if (typeof user === 'undefined') { %>
						<a href="/logga-in">Logga in</a>
          <% } %>

        </div>
        <div class="col-sm-2 socialt">
          <h3 class="hidden-xs">Socialt</h3>
          <a href="http://facebook.com/vegosvar">
            <span class="fa fa-facebook-square visible-xs"></span> 
            <span class="hidden-xs">Facebook</span>
          </a>
          <a href="http://twitter.com/vegosvar">
            <span class="fa fa-twitter visible-xs"></span> 
            <span class="hidden-xs">Twitter</span>
          </a>
          <a href="http://instagram.com/vegosvar">
            <span class="fa fa-instagram visible-xs"></span> 
            <span class="hidden-xs">Instagram</span>
          </a>
          <a href="https://github.com/vegosvar">
            <span class="fa fa-github visible-xs"></span> 
            <span class="hidden-xs">Github</span>
          </a>
        </div>
        <div class="col-sm-2 vegosvar">
          <h3 class="hidden-xs">Vegosvar</h3>
          <a href="/vanliga-fragor">Vanliga frågor</a>
          <a href="/om">Om Vegosvar</a>
          <a href="/sekretesspolicy">Sekretesspolicy</a>
          <a href="/licens">Licens</a>
          <a href="/press">Press</a>
        </div>
      </div>
    </div>
  </div>
<% include functions/getScripts %>
<% include functions/loadResources %>
</body>
</html>