<div class="alert alert-info hidden" id="alert-info">
	<span class="glyphicon glyphicon-info-sign"></span> 
	<strong>Sidan finns redan, du hittar den om du söker på Vegosvar</strong>
</div>

<div class="alert alert-warning hidden" id="warning-info">
	<span class="glyphicon glyphicon-remove"></span>
	<strong>Din rubrik måste ha 3 eller flera bokstäver.</strong>
</div>