<% include partials/header %>

<div class="container">
    <section id="main">
    	<div class="row">
    		<div class="col-sm-8">
		    	<article>
				    <h1>500</h1>

				    <h2>Felmeddelande</h2>
				    <p><% if(typeof(error !== 'undefined')) { %>
                        <%= error %>
                        <% } else { %>
                            <h3>Ett okänt fel har inträffat!</h3>
                            Du kan nu antingen <a href="javascript:history.go(-1);">gå tillbaka till föregående sida</a> eller gå till <a href="/">startsidan</a>
                        <% } %>
                    </p>
			    </article>
			</div>
		</div>
    </section>
</div>

<% include partials/footer %>