<% include includes/header %>

<div class="container">
    <section id="main">
    	<div class="row">
    		<div class="col-sm-8">
		    	<article>
				    <h1>505</h1>

				    <h2>Felmeddelande</h2>
				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus suscipit debitis natus officia ullam eligendi earum animi porro vitae reiciendis, amet nobis distinctio omnis numquam id soluta minus pariatur aspernatur.</p>
			    </article>
			</div>
		</div>
    </section>
</div>

<% include includes/footer %>