<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8">

					<article>
						<div class="headerImage">
							<img src="/assets/images/profile/about-vegosvar.jpg" alt="Vegosvar">
						</div>
						<h1>Om Vegosvar</h1>
						<p class="preamble">Det ska vara enkelt att göra medvetna val i vardagen. På den grunden skapade vi den plattform som Vegosvar är idag. Kunskapsdatabasen växer varje dag tack vare våra medlemmar, så att du enkelt ska få svar på dina frågor och hitta rätt.</p>
						
						<h2>Ett hållbart Sverige</h2>
						<p>Det är viktigt med en folkbildning som främjar bättre livsstilar. Vilken mat vi väljer är bara en liten del i det stora hela, men det gör mycket för oss, djuren och miljön. Vegosvars mål är ett hållbart Sverige utan animaliska livsmedel.</p>

						<h2>Teknik & utveckling</h2>
						<p>Vegosvar ligger på <a href="https://github.com/Vegosvar/Vegosvar" target="_blank">Github</a> licencerat under <a href="/licens">CC0</a> och är öppen för alla att använda. Om du vill lämna feedback eller vara en del av Vegosvar så kan du höra av dig till <a href="mailto:vegosvar.se">kontakt@vegosvar.se</a>.</p>
						
						<h2>Andra tjänster</h2>
						<p>Vi vill passa på att rikta ett stort tack till de fantastiska hemsidor och tjänster som varje dag underlättar för vegointresserade, bland annat <a href="http://veganistan.se" target="_blank" rel="nofollow">Veganistan.se</a> som har kartlagt större delen av Sveriges alla veganska restauranger och butiker. Sedan finns även <a href="http://vegansök.se" target="_blank" rel="nofollow">Vegansök.se</a>, en söktjänst för veganska livsmedel. Djurens Rätts app <a href="https://itunes.apple.com/se/app/djurvanligt/id426096234?mt=8" target="_blank" rel="nofollow">Djurvänligt</a> är också en klockren app för att hitta schyssta livsmedel. Det är dessa typer av tjänster som gett inspiration till utvecklingen av Vegosvar.</p>

						<h2>Medverkande</h2>
						<p><a href="http://perloov.com" target="_blank">Per Lööv</a><br>
						<small class="text-muted">Designer</small></p> 
						<p><a href="http://jeremyg.se" target="_blank">Jeremy Gallant</a><br> 
						<small class="text-muted">Utvecklare</small></p>
						<p><a href="http://aekstrom.se" target="_blank">Andreas Ekström</a><br> 
						<small class="text-muted">Utvecklare</small></p>
						<p><a href="https://tobias.jarvelov.se" target="_blank">Tobias Järvelöv</a><br>
						<small class="text-muted">Utvecklare</small></p>
						<p><a href="http://www.joelanderssonfoto.se/" target="_blank">Joel Andersson</a><br>
						<small class="text-muted">Fotograf</small></p>
						<p><a href="#">Tony Ulin</a><br>
						<small class="text-muted">Kampanjansvarig</small></p>

						<h2>Kontakt</h2>
						<p><a href="mailto:kontakt@vegosvar.se" class="btn btn-primary">kontakt@vegosvar.se</a></p>
					</article>

				</div>
				<div class="col-sm-4">

					<div class="fb-page hidden-xs" data-href="https://www.facebook.com/vegosvar" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/vegosvar"><a href="https://www.facebook.com/vegosvar">Vegosvar</a></blockquote></div></div>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>