<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<article>
						<h1>Licens</h1>
						<p class="preamble">Här finner du information kring de olika licenser som appliceras på Vegosvar. Vid några som helst frågor kan du kontakta oss på <a href="kontakt@vegosvar.se">kontakt@vegosvar.se</a></p>
						<div class="alert alert-success">
						<h3 class="no-top">Plattformen Vegosvar</h3>
						<p>Den tekniska plattformen Vegosvar är licenserad under <a href="http://unlicense.org/">Unlicense</a> och ligger öppet på <a href="https://github.com/Vegosvar/Vegosvar">Github</a>, det innebär att du får använda vår kod och design precis hur du vill, både privat och kommersiellt.</p>
						</div>
						<h2>Restriktioner</h2>
						<div class="alert alert-warning">
							<h3 class="no-top">Varumärket Vegosvar</h3>
							<p>Vegosvars grafiska representation, logotypen och lövikonen, är upphovsrättskyddade och inga rättigheter släppta under någon licens. Detta för att undvika att tredje part ska utge sig för att vara oss i syfte att förvirra och skada Vegosvar och det vi står för. Våra illustrationer och egna texter är dock fria att användas under CC0.</p>
						</div>
						<div class="alert alert-danger">
							<h3 class="no-top">Skapade sidor på Vegosvar</h3>
							<p>Den licens som appliceras på publicerade sidor kan variera beroende på vad författaren av sidan har valt att släppa materialet under. Det som postas på Vegosvar brukar i regel vara licenserat under CC0, i annat fall står det på den berörda sidan vilken licens som gäller.</p>
						</div>
						<p><small><em>Senast uppdaterad 14 mars 2016</em></small></p>
					</article>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>
