<% include includes/header %>

	<div class="container">
		<section id="main">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">

					<article>
						<h1>Licens</h1>
						<p class="preamble">Plattformen Vegosvar är licenserad under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a> på <a href="https://github.com/vegosvar" target="_blank">Github</a>, det innebär att du kan använda vårt material precis hur du vill, både privat och kommersiellt.</p>
						<h2>Restriktioner</h2>
						<div class="alert alert-danger">
							<h3 class="no-top">Sidor på Vegosvar</h3>
							<p>Den licens som appliceras på publicerade sidor kan variera beroende på vad författaren av sidan har valt att släppa materialet under. Det som postas på Vegosvar brukar i regel vara licenserat under CC0, i annat fall står det på den berörda sidan vilken licens som gäller.</p>
						</div>
						<div class="alert alert-danger">
							<h3 class="no-top">Varumärket Vegosvar</h3>
							<p>Vegosvars grafiska profil och namn är licenserat under Copyright. Våra illustrationer är dock fria att användas under CC0. Om du har </p>
						</div>
						<p><small><em>Senast uppdaterad 26 Januari 2016</em></small></p>
					</article>

				</div>
			</div>
		</section>
	</div>

<% include includes/footer %>