<% include includes/header %>

    <div class="container">
        <section id="main">
            <div class="row">
                <div class="col-md-8">
                    <article>

                        <% include includes/page/pending_moderation %>

                        <% include includes/page/likes %>

                        <% include includes/page/header_image %>

                        <div id="<%= post._id %>" class="content">

                            <% include includes/page/header_attributes %>

                            <% include includes/page/content %>

                            <% include includes/page/rating %>

                            <% include includes/page/contact %>

                        </div>

                        <% include includes/page/sources %>
                    </article>

                    <% include includes/page/cred %>

                    <% include includes/page/comments %>
                </div>

                <% include includes/page/sidebar %>

            </div>
        </section>
    </div>
<% include includes/footer %>
