<% include partials/header %>

<div class="container">
  <section id="main">
    <div class="row">
      <div class="col-md-8">
        <article>

          <% include partials/page/pending_moderation %>

          <% include partials/page/likes %>

          <% include partials/page/header_image %>

          <div id="<%= post._id %>" class="content">

            <!-- TODO: Create a partial for statistics -->
            <% if(statistics) { %>
              <div title="Sidvisningar den här månaden"><span class="glyphicon glyphicon-calendar"></span> <%= statistics.views.value %></div>
            <% } %>

            <% include partials/page/header_attributes %>


            <% include partials/page/content %>

            <% include partials/page/rating %>

            <% include partials/page/contact %>

          </div>

          <% include partials/page/sources %>
        </article>

        <% include partials/page/cred %>

        <% include partials/page/comments %>
      </div>

      <% include partials/page/sidebar %>

    </div>
  </section>
</div>
<% include partials/footer %>