<% include includes/header %>

	<div class="container">
		<section id="main">

			<div class="row">
				<div class="col-md-4 text-center">
					<article>
            			<div class="headerImage">
							<a href="/assets/images/profile/vegosvar-press_9.jpg" target="_blank">
            					<img src="/assets/images/profile/vegosvar-press_9.jpg">
            				</a>
            			</div>
						<h1 class="no-margin-top">Press</h1>
						<p class="preamble">
							<a href="mailto:press@vegosvar.se">press@vegosvar.se</a>
						</p>
						<p>
							<a href="/assets/images/profile/vegosvar.zip" class="btn btn-edit">
							<img src="/assets/images/vegosvar_icon.svg" style="position: relative; width: 20px; height: 20px; margin-right: 5px; top: -1px;"> Ladda ner logopaket</a>
						</p>
					</article>
				</div>

				<div class="col-md-8">

					<div class="row">
						<div class="col-xs-6">
							<p><a href="/assets/images/profile/vegosvar-press_7.jpg" target="_blank">
								<img src="/assets/images/profile/vegosvar-press_7.jpg">
							</a></p>
						</div>

						<div class="col-xs-6">
							<p><a href="/assets/images/profile/vegosvar-press_8.jpg" target="_blank">
								<img src="/assets/images/profile/vegosvar-press_8.jpg">
							</a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p><a href="/assets/images/profile/vegosvar-press_0.jpg" target="_blank">
								<img src="/assets/images/profile/vegosvar-press_0.jpg">
							</a></p>
						</div>

						<div class="col-xs-6">
							<p><a href="/assets/images/profile/vegosvar-press_5.jpg" target="_blank">
								<img src="/assets/images/profile/vegosvar-press_5.jpg">
							</a></p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8">
					<article>
						<h2 class="no-margin-top">Pressmeddelanden</h2>
						<div class="well outline">
							<h3 style="margin-bottom: 0;">Idag lanseras Vegosvar.se</h3>
							<p><span class="small text-muted">10 mars 2016</span></p>

							<p>Idag lanserar vi Vegosvar, en helt ny webbtjänst för vegointresserade. På Vegosvar kan du söka efter fakta, restauranger, butiker, caféer, produkter och recept. Det är ett verktyg för dig som letar närmaste stället med vegansk mat, recept på pannkakor utan ägg eller bara vill veta vilka chips som är veganska. Förutom att använda den platsbaserade kart- och sökfunktionen kan du även betygsätta, gilla och recensera sidor.</p>

							<p>Plattformen är communitydriven och vem som helst kan logga in och skapa egna sidor. Du kan till och med redigera andras sidor om du vill komplettera eller korrigera något. Allt hanteras av vårat granskningssystem där skaparen av sidan meddelas om föreslagen ändring.</p>

							<p>När vi startade projektet för över ett år sedan hade vi idén om att underlätta för de som ville göra medvetna val i vardagen, det ska inte behöva vara komplicerat eller tråkigt att äta mer grönt. Vi kände att det var aktuellt med en modern plattform som kunde inspirera till nya smaker. Det är framför allt viktigt för oss, miljön och djuren att vår matkultur utvecklas.</p>

							<p>Vi är glada att kunna erbjuda den plattformen idag och hoppas att du finner den hjälpsam nästa gång du har en vegofråga.</p>
						</div>
					</article>
				</div>
				<div class="col-sm-4">
					<p><a href="/assets/images/profile/vegosvar-press_10.jpg" target="_blank">
						<img src="/assets/images/profile/vegosvar-press_10.jpg">
					</a></p>
				</div>
			</div>

		</section>
	</div>

<% include includes/footer %>