<% include includes/header %>

<div class="container">
    <section id="main">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <article>
                    <h1>Sekretesspolicy</h1>
                    <p class="preamble">När du använder Vegosvar samlar vi olika uppgifter, nedan förklarar vi vilken information vi använder, varför och hur de används.</p>
                    <p>
                        <h3 id="cookies">Kakor</h3>
                        <p>Vegosvar använder sig av <a href="https://sv.wikipedia.org/wiki/Webbkaka" target="_blank">kakor</a> för att förbättra användarupplevelsen. För att kunna logga in på Vegosvar sparar vi en kaka i din webbläsare. Den här kakan används för att vi ska veta att du är inloggad.</p>

                        <h4 id="analytics">Google Analytics</h4>
                        <p>Vegosvar använder webbanalysverktyget <a href="https://sv.wikipedia.org/wiki/Google_Analytics" target="_blank">Google Analytics</a> för att samla in statistik om hur Vegosvar används. Informationen som samlas in är helt anonym och har ingen koppling till din person eller ditt konto på Vegosvar.</p>

                        <p>Vegosvar förbehåller sig rätten att tillhandahålla den anonyma statistiken till en tredje part. Information som kan lämnas ut inkluderar, men är inte begränsad till:
                            <ul>
                                <li>Sökningar på ett visst nyckelord, företag eller produktnamn</li>
                                <li>Sidvisningar</li>
                                <li>Registrerade röster <span class="glyphicon glyphicon-star" style="color:#FAB000"></span></li>
                                <li>Registrerade gillningar <span style="background:#DE3D36;display: inline-block;padding: 1px 8px 2px 7px;color: #fff;border-radius: 3px;"><span><span class="glyphicon glyphicon-heart" style="font-size:11px"></span></span> 1</span></li> 
                            </ul>

                        Den här informationen hjälper företag så som restauranger, butiker och produkttillverkare att se pågående och kommande trender, intresse och på så sätt avgöra hur deras företag tas emot av Vegosvars användare.
                        </p>

                        <p>Om du önskar att inte delta i insamlingen av statistik rekommenderar vi att du installerar webbläsartillägget <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics Opt-out Browser Add-on</a></p>

                        <h3 id="facebook">Facebook</h3>
                        <p>För att logga in på Vegosvar behöver du ett <a href="https://facebook.com" target="_blank">Facebook-konto</a>. Vi använder din <a href="https://www.facebook.com/help/145506622264765" target="_blank">Publika profil</a> för att skapa ett konto på Vegosvar åt dig. Den information vi sparar på Vegosvar är:
                            <ul>
                                <li>Namn</li>
                                <li>Användar ID</li>
                                <li>Profilbild</li>
                            </ul>

                        Om du väljer att avsluta ditt konto på Vegosvar tas ovanstående uppgifter bort från Vegosvars servrar. För att upphäva tillgången till ditt Facebook-konto se <a href="#discontinue">Avslutande av tjänst</a> nedan. Vi använder oss inte av dina uppgifter om du inte använder Vegosvars tjänser.

                        <strong>OBS!</strong> Vegosvar begär <strong>aldrig</strong> tillgång till ditt lösenord, e-postadress eller liknande och kommer aldrig att efterfråga eller lagra den informationen.
                        </p>

                        <h3 id="geoposition">Platstjänster</h3>
                        <p>Vegosvar erbjuder att hämta din nuvarande position för att förbättra användarupplevelsen. Denna tjänst används till exempel när du använder en karta. Om din webbläsare stödjer platspositionering visas en dialogruta i din webbläsare som anger att vi vill använda din nuvarande position.</p>

                        <p>För bästa användarupplevelsen rekommenderar vi att du ger Vegosvar tillåtelse att använda din nuvarande position. Önskar du att inte tillhandahålla din position eller om din webbläsare inte stödjer platspositionering går det såklart lika bra att använda Vegosvar ändå.</p>

                        <h3>Insamlad information</h3>
                        <p>Den information som vi samlar in när du använder Vegosvar är för att förbättra din användarupplevelse. Dina personliga uppgifter säljs, överlåts eller på andra sätt tillhandhålls aldrig till en tredje part.</p>

                        <p>När du använder dig av Vegosvar samlar vi in anonym statistik kring användandet av Vegosvar som kan komma att tillhandahållas en tredje part. Den här informationen kan inte kopplas till din person eller ditt konto. Om du inte önskar att vara med i insamlingen av anonym statistik kan du välja att inte delta. Se sektionen <a href="#analytics">Google Analytics</a></p>

                        <h3 id="discontinue">Avslutande av tjänst</h3>
                        <p>Om du inte längre önskar använda Vegosvars tjänster och vill ta bort informationen som finns lagrad hos Vegosvar gör du följande:
                        
                        <h4>Om du registrerat ett konto på Vegosvar</h4>
                            <ul>
                                <li><a href="/logga-in">Logga in</a> och gå till <a href="/installningar">Inställningar</a></li>
                                <li>Följ instruktionerna under sektionen <em>Avsluta konto</em></li>
                                <li>För att ta bort åtkomsten för Vegosvar till ditt Facebook-konto <a href="https://www.facebook.com/help/218345114850283" target="_blank">följer du dessa anvisningar</a>.</li>
                            </ul>
                        </p>
                    </p>
                </article>
            </div>
        </div>
    </section>
</div>

<% include includes/footer %>