<% include includes/header %>

<div class="profileHeader" style="background-image: url(https://unsplash.it/2000/400);">
	
</div>

<div class="container">
    <section id="main">
    	<div class="row">
    		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
		    	<article id="profile">
		    		<div class="row">
			    		<div class="col-xs-3 less-padding-right">
			    			<img src="http://perloov.com/images/perloov.jpg" class="circle">
			    		</div>
			    		<div class="col-xs-9">
						    <h1>Per Lööv</h1>
			    			<div class="userStats">
								<div class="stat">
									<span class="glyphicon glyphicon-bookmark"></span> 2 recept
								</div>
								<div class="stat">
									<span class="glyphicon glyphicon-heart"></span> 15 uppskattningar
								</div>
								<div class="stat">
									<span class="glyphicon glyphicon-eye-open"></span> 289 visningar
								</div>
				            </div>
						    <p class="preamble">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus suscipit debitis natus officia ullam eligendi.</p>
						    <p class="preamble no-margin"><a href="http://perloov.com">http://perloov.com</a></p>
						</div>
					</div>
			    </article>

		    	<article>
		    		<div class="headerImage">
		    			<img src="https://vegosvar.se/uploads/530896072e5f719a269.jpg">
		    		</div>
		    		
		    		<a href="#">
		    			<h2 class="h1">Antes veganska pannkakor</h2>
		    		</a>
					
					<p class="page-content">Smakrika pannkakor som inte bara är veganska, utan även lätta att tillaga. De är perfekt för barnkalas och är lätta att äta. Receptet gäller för ca 3 - 4 personer.</p>
					<h2>Ingredienser</h2>
					<b>3 dl</b> vetemjöl<br><b>3 matskedar</b> <a rel="nofollow" target="_blank">No egg</a>&nbsp;eller&nbsp;<b>1 matsked</b>&nbsp;sirap<br><b>5-6 dl </b><a rel="nofollow" target="_blank">växtmjölk</a> (havre/mandel/soja)<br><b>1/2 dl </b>havre- eller sojagrädde<br><b>1 matsked</b> rapsolja<h2>Gör så här</h2><b>1.</b> Blanda mjöl och No egg noga innan du häller i mjölken, grädden och oljan. Smetens konsistens ska vara så pass lättflytande att det går att få till tunna pannkakor. <br><b><br>2.</b> Häll ut en klick smet på stekpannan och låt den rinna ut över hela ytan. Vänd på pannkakan när ytan börjar bli fast. När den är gyllenbrun på båda sidorna är det bara att hugga in.<br><br><b>3.</b> Serveras förslagsvis med vispad sojagrädde och sylt/bär. Släng på lite vegansk glass om du vill lyxa till det ytterligare.<p>
					</p>
			</div>
		</div>
    </section>
</div>

<% include includes/footer %>