<% include partials/header %>

  <div class="container">
    <section id="main">

      <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">

          <article class="text-center">
            <p><img src="/assets/images/stars.svg" class="circle" style="width: 150px;"></p>
            <h1>Logga in för att rösta</h1>
            <p class="preamble">Här kan du tryggt och säkert logga in via Facebook</p>
            <a href="/auth/facebook" class="btn btn-fb lg"><img src="/assets/images/fb.svg"> Logga in med Facebook</a>
          </article>
          
          <div class="row">

            <div class="col-sm-4">
              <div class="well text-center">
                <div class="row">
                  <div class="col-xs-12">
                    <p><img src="/assets/images/stars.svg" class="circle" style="width: 100px;"></p>
                  </div>
                  <div class="col-xs-12">
                    <h3>Betygsätt sidor</h3>
                    <p>Hittar du en restaurang eller produkt som du gillar? Ge betyg!</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="well text-center">
                <div class="row">
                  <div class="col-xs-12">
                    <p><img src="/assets/images/recept.svg" class="circle" style="width: 100px;"></p>
                  </div>
                  <div class="col-xs-12">
                    <h3>Inspirera & informera</h3>
                    <p>Vet du något som andra också borde känna till? Skapa en sida!</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="well text-center">
                <div class="row">
                  <div class="col-xs-12">
                    <p><img src="/assets/images/chef.svg" class="circle" style="width: 100px;"></p>
                  </div>
                  <div class="col-xs-12">
                    <h3>Sätt dig själv på kartan</h3>
                    <p>Här får du möjlighet att synas. Det är helt gratis att publicera nya sidor.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
  </div>

<% include partials/footer %>