                  <h2>Admin</h2>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <a href="/admin/blockera">
                      	<span class="glyphicon glyphicon-user"></span> 
                      	Användare
                      </a><br>
                    </li>
                    <li class="list-group-item">
                      <a href="/admin/changes">
                      	<span class="glyphicon glyphicon-time"></span> 
                      	Revisioner
                      </a>
                    </li>
                  </ul>